<!--
  Generated template for the MyaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color=primary>

  <ion-navbar color=primary>
    <!-- <li ion-li class="menu-li" (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </li> -->
    <ion-title>My Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ul class="block-content" #tablist>
    <li class="item active-block" #tab1 (click)="setPage(0)">Dashboard</li>
    <li class="item" #tab2 (click)="setPage(1)">Order History</li>
    <li class="item" #tab3 (click)="setPage(2)">Personal Information</li>
    <li class="item" #tab4 (click)="setPage(3)">Contact &amp; Addresses</li>
    <li class="item" #tab5 (click)="setPage(4)">Reward Points</li>
    <li class="item" #tab6 (click)="setPage(5)">Refer Friends</li>
  </ul>
  <!-- <div class="holder" [innerHTML]='page_content'>
    
    </div> -->

  <ion-slides (ionSlideDidChange)="slideChanged()">
    <!-- dashboard -->
    <ion-slide>
      <div class="page dashboard  ">
        <!-- content_page -->

        <div class="content_page">
          <h2 class="header">
            Account Information
          </h2>
        </div>
        <div class="content_page" *ngIf='loaded_address==true&&user_details_exist==true'>
          <ion-grid class="info-grid">
            <ion-row>
              <ion-col col-12>
                <span class="row-header">
                      Contact Information
                    </span>
                <button class="more_button" (click)='setPage(2)'>
                      Edit
                    </button>
              </ion-col>
              <ion-col col-12>
                {{user_info.firstname+' '+user_info.lastname}}
              </ion-col>
              <ion-col col-12>
                {{userService.email}}
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col col-12>
                <span class="row-header">
                      Newsletters
                    </span>
                <button class="more_button" (click)='setPage(2)'>
                      Edit
                    </button> 
              </ion-col>
              <ion-col col-12>
                You are currently not subscribed to any newsletter.
              </ion-col>
            </ion-row> -->
            <ion-row *ngIf='user_details!=null'>
              <ion-col col-12>
                <span class="row-header">
                  Default Billing Address
                </span>
                <button class="more_button" (click)='setPage(3)'>
                  Edit
                </button>
              </ion-col>
              <ion-col col-12>
                {{user_details.firstname+' '+user_details.lastname}}
              </ion-col>
              <ion-col col-12>
                {{user_details.street+', '+user_details.village}}
              </ion-col>
              <ion-col col-12>
                {{user_details.city+', '+user_details.postcode+', '+user_details.region}}
              </ion-col>
              <ion-col col-12>
                {{user_details.telephone}}
              </ion-col>
              <ion-col col-12>
                {{user_details.mobile}}
              </ion-col>
            </ion-row>

            <ion-row *ngIf='user_details!=null'>
              <ion-col col-12>
                <span class="row-header">
                  Default Shipping Address
                </span>
                <button class="more_button" (click)='setPage(3)'>
                  Edit
                </button>
              </ion-col>
              <ion-col col-12>
                {{user_details.firstname+' '+user_details.lastname}}
              </ion-col>
              <ion-col col-12>
                {{user_details.street+', '+user_details.village}}
              </ion-col>
              <ion-col col-12>
                {{user_details.city+', '+user_details.postcode+', '+user_details.region}}
              </ion-col>
              <ion-col col-12>
                {{user_details.telephone}}
              </ion-col>
              <ion-col col-12>
                {{user_details.mobile}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="content_page" *ngIf='loaded_address!=true&&user_details_exist!=true'>
          <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
          </div>
        </div>
        <div class="content_page">

          <ion-grid class="info-grid">
            <ion-row class="table-title-row">
              <ion-col class='row-header'>
                Recent Orders <a class='more_button' (click)='setPage(1)'>View All</a>
              </ion-col>
            </ion-row>
            <ion-row class="label-row table-row">
              <ion-col col-3 class="label-col">
                Order
              </ion-col>
              <ion-col col-3 class="label-col">
                Date
              </ion-col>
              <ion-col col-3 class="label-col">
                Status
              </ion-col>
              <ion-col col-3 class="label-col">
                Total
              </ion-col>
            </ion-row>
            <ion-row class="data-row table-content-row" *ngFor='let item of dashboard_order_list' (click)='openOrderDetails(item)'>
              <ion-col col-3>
                {{item.Order_id}}
              </ion-col>
              <ion-col col-3>
                {{item.Dates}}
              </ion-col>
              <ion-col col-3>
                {{item.Status}}
              </ion-col>
              <ion-col col-3>
                ₱{{item.Total}}
              </ion-col>
            </ion-row>
            <ion-row class="data-row" *ngIf='loaded_address!=true'>
              <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
              </div>
            </ion-row>
          </ion-grid>
        </div>
      </div>

    </ion-slide>
    <!-- dashboard -->
    <!-- order history -->
    <ion-slide>
      <div class="page">
        <div class="content_page">
          <h2 class='header'>Order History</h2>
          <ion-grid>
            <ion-row class="label-row table-row">
              <ion-col col-3 class="label-col">
                Order
              </ion-col>
              <ion-col col-3 class="label-col">
                Date
              </ion-col>
              <ion-col col-3 class="label-col">
                Status
              </ion-col>
              <ion-col col-3 class="label-col">
                Total
              </ion-col>
            </ion-row>
            <!-- <ion-row class="data-row" *ngIf='order_list_loaded==false'>
              <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
              </div>
            </ion-row> -->
            <ion-row class="data-row table-content-row" *ngFor='let item of group_order_list' (click)='openOrderDetails(item)'>
              <ion-col col-3>
                {{item.Order_id}}
              </ion-col>
              <ion-col col-3>
                {{item.Dates}}
              </ion-col>
              <ion-col col-3>
                {{item.Status}}
              </ion-col>
              <ion-col col-3>
                ₱{{item.Total}}
              </ion-col>
            </ion-row>
            <ion-row *ngIf='order_list_loaded==true'>
              <ion-col col-4>
                <button class="page-button" (click)='orderpageBackward()' *ngIf='page_count>1'>
                  <ion-icon name="md-arrow-back">
                  </ion-icon>
                </button>
              </ion-col>
              <ion-col col-4>
                <span class="page-button">
                  {{page_count}}
                </span>
              </ion-col>
              <ion-col col-4>
                <button class="page-button" (click)='orderpageForward()' *ngIf='group_order_list.length>10'>
                  <ion-icon name="md-arrow-forward">
                  </ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </div>

    </ion-slide>
    <!-- order history -->
    <!-- personal info -->
    <ion-slide class="personal">
      <div class="page">
        <div class="content_page">
          <h2 class='header'>Personal Information</h2>
          <ion-grid>
            <ion-row class="table-row">
              <ion-col col-12>
                <ion-label class="input-label">
                  First Name
                </ion-label>
                <ion-input [(ngModel)]='user_info.firstname' class="input-text pi-input" placeholder='firstname'>
                </ion-input>
              </ion-col>
              <ion-col col-12>
                <ion-label class="input-label">
                  Last Name
                </ion-label>
                <ion-input [(ngModel)]='user_info.lastname' class="input-text pi-input" placeholder='lastname'>
                </ion-input>
              </ion-col>
              <ion-col col-12>
                <ion-label class="input-label">
                  Email Address
                </ion-label>
                <ion-input [(ngModel)]='user_info.email' class="input-text pi-input" placeholder='Email address'>
                </ion-input>
              </ion-col>
              <ion-col col-12>
                <ion-label class="input-label">Gender</ion-label>
                <ion-item class="pi-item input-text">
                  <ion-label>Gender</ion-label>
                  <ion-select [(ngModel)]='user_info.gender'>
                    <ion-option value='Male'>Male</ion-option>
                    <ion-option value='Female'>Female</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item class="pi-item">
                  <ion-label class="changepass-label">Change Password</ion-label>
                  <ion-checkbox [(ngModel)]="user_info.change_pass"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="content_page" *ngIf='user_info.change_pass==true'>
          <span class='header'>Change Password</span>
          <ion-grid>
            <ion-row class="table-row">
              <ion-col col-12>
                <ion-label class="input-label">
                  Current Password 
                </ion-label>
                <ion-input class="input-text pi-input" type='password' [(ngModel)]='user_info.password' placeholder='password'>
                </ion-input>
              </ion-col>
              <ion-col col-12>
                <ion-label class="input-label">
                  New Password 
                </ion-label>
                <ion-input class="input-text pi-input" type='password' [(ngModel)]='user_info.new_password' placeholder='new password'>
                </ion-input>
              </ion-col>
              <ion-col col-12>
                <ion-label class="input-label">
                  Confirm Password 
                </ion-label>
                <ion-input class="input-text pi-input" type='password' [(ngModel)]='user_info.conf_password' placeholder='confirm password'>
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <button color='secondary' class="save_button" (click)='saveUserInfo()'>
          save
        </button>
      </div>
    </ion-slide>
    <!-- personal info -->
    <!-- contact and address -->
    <ion-slide>
      <div class="page">
        <div class="content_page address_book">
          <h2 class="header">Address Book</h2>
          <ion-grid class="info-grid" *ngIf='loaded_address==true'>

            <ion-row class="parent-row" *ngIf='user_details_exist==true'>
              <ion-col col-12>
                <span class="row-header">
                  Default Address
                </span>
              </ion-col>
              <ion-row *ngIf='user_details!=null'>
                <ion-col col-12>
                  {{user_details.firstname +' '+user_details.lastname}}
                </ion-col>
                <ion-col col-12>
                  {{user_details.street+', '+user_details.village}}
                </ion-col>
                <ion-col col-12>
                  {{user_details.city}}
                </ion-col>
                <ion-col col-12>
                  {{user_details.postcode+', '+user_details.region+', '+user_details.country_id}}
                </ion-col>
                <ion-col col-12>
                  {{user_details.telephone}}
                </ion-col>
                <ion-col col-12>
                  {{user_details.mobile}}
                </ion-col>
                  <a class="secondary edit-address-book" (click)='editAddress(0)'>Edit</a>
              </ion-row>
            </ion-row>
            <ion-row *ngIf='group_address_list==true'>
              <ion-col col-12>
                <span class="row-header">
                  Additional Addresses
                </span>
              </ion-col>
              <ion-row *ngFor='let address of group_address_list; let i = index;' class="border">
                <ion-col col-12>
                  {{(i+1)+'. '+address.firstname+' '+address.lastname}}
                </ion-col>
                <ion-col col-12>
                  {{address.street+', '+address.villag}}
                </ion-col>
                <ion-col col-12>
                  {{address.city}}
                </ion-col>
                <ion-col col-12>
                  {{address.postcode+', '+address.region+', '+address.country_id}}
                </ion-col>
                <ion-col col-12>
                  {{address.telephone}}
                </ion-col>
                <ion-col col-12>
                  {{address.mobile}}
                </ion-col>
                <ion-col col-12>
                  <a class="secondary" (click)='editAddress(i)'>Edit Address</a>
                </ion-col>
                <ion-col col-12>
                  <a class="primary" (click)='removeAddress(i)'>Delete Address</a>
                </ion-col>
              </ion-row>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <!-- <button class="save_button add_button" >Add New Address</button> -->
                <button class='add-item-button' (click)='addNewAddress()'>
                  <ion-icon name="ios-home" ></ion-icon><p>Add New Address</p>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf='loaded_address != true;'>
            <ion-row class="content_page" >
              <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
              </div>
            </ion-row>
          </ion-grid>
        </div>
        
      </div>
    </ion-slide>
    <!-- contact and address -->
    <!-- reward -->
    <ion-slide class="kredits">
      <div class="page">
        <div class="content_page">
          <h2 class="header">My Kredits</h2>
          <p class="subheader text-area">
            You have
            <span class="rewardpoints-money">{{kredit_points}} </span> Kredit in your account.
          </p>
          <p class="subheader-title">Spending Rules</p> 
          <p class="subheader-text">Each 1 Kredit can be redeemed for ₱1.00.</p>
          <span class="header subheader-title">RECENT TRANSACTIONS</span>
          <ion-content class="scrollgridcontent" #scrollgrid overflow-scroll="true" (click)='disablescroll()'>
            <ion-grid class="scroll-grid">
              <ion-row class="label-row">
                <ion-col col-2 class="label-col">
                  ID
                </ion-col>
                <ion-col col-2 class="label-col">
                  TITLE
                </ion-col>
                <ion-col col-2 class="label-col">
                  KREDITS
                </ion-col>
                <ion-col col-2 class="label-col">
                  CREATED
                </ion-col>
                <ion-col col-2 class="label-col">
                  EXPIRES
                </ion-col>
                <ion-col col-2 class="label-col">
                  Status
                </ion-col>
              </ion-row>
              <ion-row class='data-row' *ngFor='let item of kredit_details'>
                <ion-col col>
                  {{item.transaction_id}}
                </ion-col>
                <ion-col col>
                  {{item.reward_id}}
                </ion-col>
                <ion-col col>
                  {{item.point_used}}
                </ion-col>
                <ion-col col>
                  {{item.created_time}}
                </ion-col>
                <ion-col col>
                  {{item.expiration_date}}
                </ion-col>
                <ion-col col>
                  {{item.status}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="content_page" *ngIf='kredit_details_loaded != true;'>
                <div id="circularG">
                  <div id="circularG_1" class="circularG"></div>
                  <div id="circularG_2" class="circularG"></div>
                  <div id="circularG_3" class="circularG"></div>
                  <div id="circularG_4" class="circularG"></div>
                  <div id="circularG_5" class="circularG"></div>
                  <div id="circularG_6" class="circularG"></div>
                  <div id="circularG_7" class="circularG"></div>
                  <div id="circularG_8" class="circularG"></div>
                </div>
              </div>
          </ion-content>



        </div>
      </div>
    </ion-slide>
    <!-- reward -->
    <!-- refer -->
    <ion-slide>
      <div class="page">
        <div class="content_page">
          <!-- <span class="header">Refer Friends</span> -->
          <div class="image-banner">
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <div class="image-wrapper-1"><img alt="" src="https://cdnv3.pushkart.ph/dev3/media/wysiwyg/referafriend_image_1.png"></div>
                </ion-col>
                <ion-col col-4>
                  <div class="banner-message">
                    <h1 class="title"><span class="bold">GIVE 50,</span> GET 50.</h1>
                    <div class="desc">Share your referral code to give Php 50 discount!<br>Plus, get Php 50 Kredits when your referral orders!</div>
                  </div>
                </ion-col>
                <ion-col col-4>
                  <div class="image-wrapper-2"><img alt="" src="https://cdnv3.pushkart.ph/dev3/media/wysiwyg/referafriend_image_2.png"></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </ion-slide>
    <!-- refer -->
  </ion-slides>

</ion-content>
