page-myaccount {
  font-family: $opensans;
  .personal{
    .select-text{
      position: absolute;
      left: 0;
      padding-left: 15px;
      background: #fff;
      width: 100%;
    }
    .item-md.item-block{
      .item-inner{
        border: none;
      }
    }
    .item-select{
      height: 36px;
      min-height: unset;
      .label-md{
        padding-left: 15px;
      }
    }
    .checkbox-md{
      margin: 9px 15px 9px 4px !important;
    }
  }
  ion-content{
    .kredits{  
      .page {
        .content_page{
          ion-grid{
            .data-row{
              margin: 0 !important;
              height: auto;
              ion-col{
                text-align: center;
                padding: 15px 5px;
                height: auto;
              }
            }
          }
        }
      }
     }
  }
  .address_book{
    .info-grid{
      ion-row{
        margin-bottom: 0 !important;
        .row-header{
          text-transform: uppercase;
        }
      }
      .parent-row{
        padding: 15px 0;
        border-top: 1px solid #ccc;
        margin-bottom: 15px !important;
        position: relative;
      }
    }
    .edit-address-book{
      position: absolute;
      top: 15px;
      right: 0;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .checkbox-md {
    .checkbox-checked{
      border-color: #54c5b4;  
      background-color: #54c5b4;
    }
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
  }
  .back-button {
    display: block!important;
    color: white;
    overflow: hidden;
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .toolbar-title {
    text-transform: capitalize;
  }
  .input-text {
    border-radius: 4px;
    border: solid 1px #ccc;
    color: #333;
    font-size: 16px;
  }
  .pi-input {
    height: 36px;
    .text-input-md{
      margin: 0;
      height: 100%;
      padding-left: 15px;
    }
  }
  .pi-item{
    padding-left: 0;
  }
  .secondary,
  .primary {
    text-align: center;
    border-bottom: 1px solid;
    text-decoration: none;
  }
  .secondary {
    color: color($colors, secondary, base);
    border-bottom-color: color($colors, secondary, base);
  }
  .primary {
    color: color($colors, primary, base);
    border-bottom-color: color($colors, primary, base);
  }
  .save_button {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 16px;
    color: white;
    background-color: #54C5B4;
    width: 90%;
    height: 40px;
  }
  a {
    text-decoration: none;
  }
  .content {
    background: white;
  }
  ion-content {
    .block-content {
      padding: 0px;
      width: 100%;
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow-x: auto;
      overflow-y: hidden;
      /* background-color: white; */
      background-color: #F7F7F7;
      li {
        display: inline-block;
        font-size: 14px;
        margin: 5px;
        padding: 10px;
        font-family: $opensans;
        color: #333;
      }
      .active-block {
        color: color($colors, primary, base);
        font-weight: bold;
      }
    }
    .block-content::-webkit-scrollbar-track {
      height: 2x;
      width: 2px; //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    .block-content::-webkit-scrollbar {
      height: 2px;
      width: 2px;
      background-color: #F5F5F5;
    }
    .block-content::-webkit-scrollbar-thumb {
      height: 2px;
      width: 2px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .page {
      position: absolute;
      top: 0;
      overflow-y: auto;
      height: 100%;
      width: 100%;
      .content_page {
        background-color: white;
        padding: 8px;
        text-align: left;
        .input-label{
          font-size: 14px;
        }
        .header {
          margin: 10px 10px 16px 10px;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
        }
        .subheader {
          margin: 8px 10px;
          text-align: justify;
        }
        .subheader-title{
          margin: 15px 10px 10px 10px;
          color: #666666;
          text-transform: none;
          font-size: 16px;
          font-weight: bold;
        }
        .subheader-text{
          margin: 0 10px 20px 10px;
          font-size: 16px;
          color: #666666;
        }
        .more_button {
          text-transform: uppercase;
          margin-top: 4px;
          position: absolute;
          color: #54C5B4;
          background-color: white;
          font-size: 12px;
          right: 0;
          font-weight: 600;
        }
        .page-button {
          position: absolute;
          margin-top: 10px;
          background-color: white;
          width: 100%;
          height: 100%;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
          color: #333;
        }
        ion-grid {
          margin-bottom: 10px;
          .data-row {
            font-size: 16px;
            height: 20px;
            margin: 0px 0px 30px!important;
            padding: 0px;
            ion-col {
              height: 50px;
              color: #333;
              font-size: 12px;
              border-bottom: 0.2px solid #e2e2e2;
            }
          }
          .label-row {
            background-color: #E2E2E2;
            margin-bottom: 2px;
            .label-col {
              font-weight: bold;
              color: #666;
              font-size: 12px;
              text-align: center;
              text-transform: uppercase;
              padding: 15px 0;
            }
          }
          .table-content-row{
            margin-bottom: 0 !important;
            height: auto;
            ion-col{
              text-align: center;
              padding: 15px 5px;
              height: auto;
            }
          }
        }
        .info-grid {
          font-size: 16px;
          ion-row {
            margin-bottom: 30px;
            .row-header {
              color: #333;
              font-size: 14px;
              font-weight: bold;
            }
            ion-col {
              font-size: 14px;
            }
          }
          .table-row{
            margin: 0;
          }
          .table-title-row{
            margin: 15px 0;
          }
          .table-content-row{
            margin-bottom: 0 !important;
            height: auto;
            ion-col {
              text-align: center;
              padding: 15px 5px;
            }
          }
        }
        .grid{
          .table-row{
            margin: 0;
          }
        }
        .border {
          margin-bottom: 10px;
          border-top: 1px solid #ccc;
        }
      }
    }
    ion-card {
      text-align: left;
    }
  }
  .add-item-button {
    height: 60px;
    width: 100%;
    border: solid #49BB59 2px;
    color: #49BB59;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    ion-icon {
      float: left;
      font-size: 32px;
      width: 15%;
    }
    p {
      float: left;
      text-align: left;
      margin: 10px 0 0;
      padding-left: 32px;
      width: 85%;
    }
  }
  .text-area {
    margin-bottom: 32px;
    .rewardpoints-money {
      color: #333;
      font-weight: bold;
    }
  }
  .table-class {
    overflow-x: scroll;
    width: 300px;
    white-space: nowrap;
    overflow-y: hidden;
    height: 50px;
    display: block;
    background: lightblue;
    ion-row {
      ion-col {
        height: 50px;
        width: 100px;
        position: relative;
        background-color: lightgrey;
        display: inline-block;
        float: left;
      }
    }
  }
  .image-banner {
    margin-top: 16px;
    background-color: #4BC2BA;
    color: white;
    .banner-message {
      text-align: center;
      .title {
        .bold {
          width: 100%;
        }
      }
      .desc {
        font-size: 14px;
      }
    }
  }
  .scrollgridcontent {
    height: 300px;
    .scroll-content {
      overflow-x: scroll;
    }
    .scroll-grid {
      width: 500px;
    }
    .scroll-grid::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    .scroll-grid::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }
  .scrollgridcontent::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  .scrollgridcontent::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
  .dashboard {
    #circularG{
      margin: 20px auto;
    }
    .row-header {
      text-transform: uppercase;
      font-weight: bold;
      color: #666!important;
    }
    .header {
      margin: 16px 10px!important;
    }
    .col {
      font-size: 16px!important;
    }
    .label-row {
      .col {
        font-size: 12px!important;
      }
    }
    .data-row {
      .col {
        font-size: 12px!important;
      }
    }
  }
}
