<ion-content padding>
    <div class="header-wrap">
        <div class="top-flex">
            <img src="assets/img/login_logo.png">
        </div>
        <div class="middle-flex">
            <p>Online Grocery shopping, Made Easy!</p>
        </div>
    </div>
    <div class="bottom-flex">
        <ion-list no-lines>
            <ion-item no-lines>
                <ion-label><ion-icon name="mail"></ion-icon></ion-label>
                <ion-input (input)='checkAll()' type="email" placeholder='Email Address' [(ngModel)]='email'></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-label><ion-icon name="key"></ion-icon></ion-label>
                <ion-input (input)='checkAll()' type="{{passtype}}" placeholder='Password' [(ngModel)]='password'></ion-input>
                <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
            </ion-item>
            <a (click)="navForgot()" class="forgot-link">Forgot Password?</a>
            <button id="continue_sign" class="{{buttonclass}}" ion-button block (click)="loginApp()">LOG IN</button>  
            <div class="separator"><span class="left-line"></span>OR<span class="right-line"></span></div>
            <button ion-button block icon-left class="facebook" ><img src="assets/img/fb.png"> Login with Facebook</button>
            <button ion-button block icon-left outline class="google" ><img src="assets/img/google.png"> Login with Google</button>
        </ion-list>
        <div class="bottom-wrap">
            <p>Not a Member yet?</p>
            <a (click)="navSignup()">Sign up</a>
        </div>
    </div>
    
</ion-content>

