page-login {
    .content {
        background: #fff;
        input.text-input:-webkit-autofill {
            box-shadow: 0 0 0 30px white inset;
        }
        a { 
            color: #34beb3;
            font-weight: bold;
        }
        .forgot-link {
            float: right;
            margin-bottom: 40px;
        }
        #continue_sign {
            height: 50px;
            width: 100%;
            text-transform: uppercase;
            font-weight: 600;
            opacity: 1;
            color: #fff;
            position: relative;
            ion-icon {
                position: absolute;
                right: 15px;
                top: calc( 50% - 6px);
            }
        }
        #continue_sign.active {
            background: linear-gradient(to right, #e5444d, #f65638);
        }
        #continue_sign.not-active {
            background: #a1a1a1;
        }
        .header-wrap {
            height: 30%;
            .top-flex {
                height: 50%;
                display: flex;
                align-items: flex-end;
                img {
                    max-width: 200px;
                    margin: 0   auto;
                }
            }
            .middle-flex {
                height: 50%;
                p {
                    color: #3d3d3d;
                    text-align: center;
                }
            }
        }
        .bottom-wrap {
            text-align: center;
            margin: 10px 0 30px;
            p {
              color: #3c3c3c;
              font-weight: bold;
            }
            a {
              font-size: 18px;
            }
          }
        ion-list {
            padding: 10px;
            ion-item {
                border: 1px solid rgba(59, 89, 152, .2) !important;
                padding: 0 15px;
                margin-bottom: 20px;
                .item-inner {
                    border: none !important;
                    box-shadow: none !important;
                }
            }
            .item-md {
                .item-button {
                    position: absolute;
                    right: 15px;
                    padding: 0;
                    margin: 0;
                }
            }
            .separator {
                height: 100%;
                margin: 20px 10px;
                text-align: center;
                color: #949494;
                font-weight: bolder;
                span {
                    border-bottom: 1px solid rgba(59, 89, 152, 0.2) !important;
                    width: 45%;
                    padding-bottom: 10px;
                }
                .left-line {
                    float: left;
                }
                .right-line {
                    float: right;
                }
            }
            .google, .facebook {
                font-weight: bold;
                height: 50px;
                margin-bottom: 20px;
                text-transform: none;
                letter-spacing: .05em;
                img {
                    height: 2.4em;
                    line-height: .67;
                    pointer-events: none;
                    padding-right: 0.3em;
                    position: absolute;
                    left: 15px;
                }
                ion-icon {
                    position: absolute;
                    left: 20px;
                }
            }
            .facebook {
                background: #3b5998;  
            }
            .google {
                border: 1px solid rgba(59, 89, 152, .3);
                color: #616161;
            }
        }
    }
}
