page-main {
  .scroll-content{
    h1 {
      text-align: center;
      font-weight: 600;
      color: #333333;
      font-size: 2rem;
      margin-top: 30px;
    }
    ion-col {
      cursor: pointer;
      p {
        text-align: center;
        font-weight: bold;
        color: rgba(51, 51, 51, .8);
        margin-top: 5px;
      }
    }
  }
  
}
