<ion-header>
  <ion-navbar color=primary>
    <button ion-button class="menu-button" (click)="openMenu('main')">
      <img src="assets/img/pk-bars.png">
    </button>
    <ion-title class="header-title" (click)='gototop()'>
      <img src="assets/img/logo.webp">
    </ion-title>
    <!-- <button ion-button class="search-button" (click)='toggleSearch()'>
      <img src="assets/img/pk-search-logo.webp">
    </button> -->
    <button ion-button class="cart-button" (click)='openMenu(kart)'>
      <img src="assets/img/pk-logo-cart.png">
      <ion-badge assertive item-end *ngIf='cartservice.cart_count>0'><span>{{cartservice.cart_count}}</span></ion-badge>
      <!-- <p class="cart-count" *ngIf='cartservice.cart_count>0'>{{cartservice.cart_count}}</p> -->
    </button>

  </ion-navbar>
</ion-header>

<ion-content class="content content-products" #content scroll=’true’>
 <!--  <li class="list-item" *ngFor='let item of pushkartService.category' (click)=openPage(item)>
    {{item.name}}
  </li> -->
  <h1>Browse by Category</h1>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor='let item of pushkartService.category' (click)=openPage(item)>
        <img src="assets/img/catimage/{{item.name}}.png" onError="this.src='assets/img/catimage/noimage.png'">
        <p>{{item.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
