page-forgotpass {
    ion-header {
        height: 70px;
        display: flex;
        ion-icon {
            font-size: 1.4em;
            margin-left: 10px;
        }
    }
    .content {
        background: #fff;
        input.text-input:-webkit-autofill {
          box-shadow: 0 0 0 30px white inset;
        }
        .bottom-wrap {
          text-align: center;
          margin-top: 100px;
          a {
            color: #34beb3;
            font-weight: bold;
            text-decoration: none;
          }
        }
        ion-list {
            padding: 10px;
            #continue_sign {
                height: 50px;
                width: 100%;
                text-transform: uppercase;
                font-weight: 600;
                opacity: 1;
                color: #fff;
                position: relative;
                ion-icon {
                    position: absolute;
                    right: 15px;
                    top: calc( 50% - 6px);
                }
            }
            #continue_sign.active {
                background: linear-gradient(to right, #e5444d, #f65638);
            }
            #continue_sign.not-active {
                background: #a1a1a1;
            }
            ion-item {
                border: 1px solid rgba(59, 89, 152, .2) !important;
                padding: 0 15px;
                margin-bottom: 20px;
                margin-top: 70px;
                .item-inner {
                    border: none !important;
                    box-shadow: none !important;
                }
            }
            .item-md {
                .item-button {
                    position: absolute;
                    right: 15px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .content-header {
            padding: 10px;
            h1 {
                font-weight: 600;
                color: #1f1f1f;
            }
            h6 {
                color: #3d3d3d;
            }
        }
    }
}
