<ion-header no-border>
  <ion-navbar color=light>
    <ion-title class="header-title">
        <ion-icon name="arrow-round-back" navPop color=primary></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color=light>
  <div class="content-header">
      <h1>Forgot your Password?</h1>
      <h6>Enter your email to recieve your 
          password reset link.</h6>
  </div>
  <ion-list no-lines>
      <ion-item no-lines>
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <ion-input (input)='checkAll()' type="email" placeholder='Email Address' [(ngModel)]='email'></ion-input>
      </ion-item>
      <button id="continue_sign" class="{{buttonclass}}" ion-button block icon-right (click)="resetpassword()">submit <ion-icon name="arrow-round-forward"></ion-icon></button> 
    </ion-list>
    
    <div class="bottom-wrap">
      <a navPop>Go back</a>
    </div>
