<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <!-- <button ion-button class="menu-button" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <ion-title>Order Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="checkout-summary">
  <ion-list *ngIf='cartservice.cart_display_item!=null'>
    <h2 class="page-header">
      {{cartservice.cart_count}} Item(s)
    </h2>

    <ion-grid class="mykart-grid">
      <ion-row class="mykart-row" *ngFor='let value of cartservice.cart_display_item'>
        <ion-col col-3 class="product-img">
          <img [src]="value.small_image" onError="this.src='assets/img/image-not-available_1.webp'">
        </ion-col>
        <ion-col col-9 class="product-desc">
          <p class="product-name">
            {{value.product_name}}
          </p>
          <p class="product-price" *ngIf='value.weight>0'>
            {{cartservice.computeWeight(value.weight)+' '+value.weight_unit}}
          </p>
          <div class='product-qty-container'>
              <a class="minus button" (click)='cartservice.decreaseQtyKart(value)'>-</a>
              <p class="qty">{{value.qty}}</p>
              <a class="add button" *ngIf='value.qty<cartservice.cart[value.product_id].stock_item' (click)='cartservice.increaseQtyKart(value.product_id)'>+</a>
          </div>
          <div class="price-total">
            ₱{{cartservice.numberWithCommas(cartservice.computePrice(value.price,value.qty)) }}
          </div>
        </ion-col>

        <!-- <button class="remove-item">
          <ion-icon name='close' (click)='cartservice.removeKartQty(value)'></ion-icon>
        </button> -->
        <button class="remove-item" (click)='cartservice.removeKartQty(value)'>
          <img src='assets/img/modal_close_icon.png'>
        </button>

      </ion-row>
    </ion-grid>


    <!-- dummy -->
    <!--  <ion-item>
            <div class='dummy-item'>
            </div>
          </ion-item> -->
    <!-- <ion-item class="summary"> -->
    <ion-card>
      <ion-card-header>
        <p class="subheader">
          Order Summary
        </p>
      </ion-card-header>
      <ion-card-content class="total-table">
        <ion-grid class="summary-data">
          <ion-row>
            <ion-col col-12 class="group-data">
              <p class="title">
                subtotal
              </p>
              <p class="value">
                ₱{{cartservice.numberWithCommas(cartservice.total)}}
              </p>
            </ion-col>
            <ion-col col-12 class="group-data">
              <p class="title">
                Grocer's fee
              </p>
              <p class="value">
                ₱{{cartservice.grocersfee}}
              </p>
            </ion-col>
            <ion-col col-12 class="group-data grand-total">
              <p class="title">
                Grand Total (Tax Incl.)
              </p>
              <p class="value">
                ₱{{cartservice.numberWithCommas(cartservice.total_service)}}
              </p>
            </ion-col>

            <ion-col col-12>
              <div class="checkout-submit-msg">By confirming your order, you agree to the <a (click)='openTermsAndCondition()'>Terms and Conditions</a>.</div>
              <button (click)='proceed()' class="proceed" ion-item color=secondary>proceed</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- </ion-item> -->

  </ion-list>

</ion-content>
