checkout-summary {
  .checkout-summary.content{
    background: #fff;
    .page-header{
      margin: 0;
      padding: 15px;
      border-bottom: 1px solid #b7b7b7;
      color: #333;
      font-size: 15px;
      font-weight: 600;
    }
    .mykart-grid{
      padding: 0;
      .mykart-row{
        padding: 10px 0;
        margin-bottom: 0;
        min-height: 100px;
        border-bottom: 1px solid #b7b7b7;
        position: relative;
      }
    }
    ion-icon{
      font-size: 1.6em;
      color: #666;
    }
    .total-table{
      padding: 0;
    }
    .card-md {
      margin: 0; 
      box-shadow: none;
      width: 100%;
    }
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  .back-button {
    display: block!important;
    color: white;
    margin-right: 0;
  }
  ion-card {
    ion-row {
      margin-bottom: 0!important;
    }
    ion-card-header{
      border-bottom: 1px solid #b7b7b7;
    }
  }
  .item-md {
    padding-left: 0;
  }
  .title,
  .value {
    float: left;
    width: 50%;
    font-weight: normal!important;
    text-transform: capitalize;
  }
  .value{
    text-align: right;
  }
  .grand-total {
    .title,
    .value {
      font-weight: bold !important;;
    }
    .title {
      width: 70%;
    }
    .value {
      width: 30%;
    }
  }
  .subheader {
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  .checkout-submit-msg {
    padding-top: 16px;
    text-align: left;
    color: #666;
    margin: 0;
    font-weight: 600;
    a{
      text-decoration: none;
      color: color($colors,secondary,base);
    }
  }
  .proceed {
    border-radius: 4px!important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 16px 0;
    width: 100%;
    .item-inner{
      padding: 0 !important;
    }
  }
  .mykart-grid {
    .mykart-row {
      .product-img {
        text-align: center;
        img {
          margin-top: 10px;
          height: 50px;
          width: 50px;
        }
      }
      .product-desc {
        .product-name,
        .product-price {
          margin: 0;
          font-size: 14px;
        }
        .product-price {
          color: #666;
          font-size: 12px;
        }
        .product-name{
          width: calc(100% - 50px);
          text-transform: uppercase;
        }
        .product-qty-container {
          margin-top: 10px;
          .minus,
          .qty,
          .add {
            border: solid 1px #666;
            border-radius: 5px;
            width: 25px;
            line-height: 25px;
            height: 25px;
            margin-right: 8px;
            float: left;
            text-align: center;
            font-size: 16px;
            font-weight: 900;
            color: #666;
          }
          .qty {
            border: unset;
            margin: 0 8px 0 0;
          }
        }
      }
      .price-total {
        float: right;
        margin-right: 10px;
        font-size: 16px;
        color: black;
        font-weight: bold;
      }
      .remove-item {
        position: absolute;
        right: 15px;
        background-color: transparent;
        height: 12px;
        width: 12px;
        padding: 0;
        margin: 0;
        top: 20px;
      }
    }
  }
  .summary-data{
    margin-bottom: 36px;
    padding: 0;
    ion-col{
      padding: 0 15px 10px 15px;
      p{
        line-height: normal;
        margin: 0;
      }
    }
    ion-col:first-child{
      padding-top: 10px;
    }
    .grand-total{
      padding: 15px;
      border-bottom: 1px solid #b7b7b7;
      border-top: 1px solid #b7b7b7;
    }
  }
}
