<!--
  Generated template for the ModalAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color=primary>

  <ion-navbar>
    <ion-title>Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <h1 class="cms-page-title">Add New Address</h1>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-label class="input-label">First Name</ion-label>
        <ion-input placeholder='First Name' [(ngModel)]='user_details.firstname' class="firstname input-text"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-label class="input-label">Last Name</ion-label>
        <ion-input placeholder='Last Name' [(ngModel)]='user_details.lastname' class="lastname input-text"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-label class="input-label">Street</ion-label>
        <ion-input placeholder='Street' [(ngModel)]='user_details.street' class="address input-text"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-label class="input-label">Village</ion-label>
        <ion-input placeholder='Village' [(ngModel)]='user_details.village' maxlength="40" class="address input-text"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-label class="input-label">City</ion-label>
        <ion-item class="input-text select-input-city">
          <ion-label class="select-input-label">City</ion-label>
          <ion-select [(ngModel)]="user_details.city">
            <ion-option *ngFor='let city of cities'>{{city}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-label class="input-label">Zip Code</ion-label>
        <ion-input type="number" [(ngModel)]='user_details.postcode' class="zip input-text" placeholder='Zip Code'></ion-input>
      </ion-col>
      <ion-col col-12>
        <!-- <ion-input type="date" [(ngModel)]='date' class="calendar input-text"></ion-input> -->
        <ion-label class="input-label">Telephone Number</ion-label>
        <ion-input type="number" [(ngModel)]='user_details.telephone' class="telephone input-text" placeholder='Telephone Number'></ion-input>
      </ion-col>
      <ion-col col-12>
        <!-- <ion-input type="date" [(ngModel)]='date' class="calendar input-text"></ion-input> -->
        <ion-label class="input-label">Mobile Number</ion-label>
        <ion-input type="number" [(ngModel)]='user_details.mobile' class="mobile input-text" placeholder='Mobile Number'></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <button class="save_button" (click)='saveAddress()' >Save Address</button>
    </ion-row>
  </ion-grid>
</ion-content>
