page-modal-address {
  .cms-page-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  ion-header{
    background: color($colors,primary,base);
  }
  .scroll-content{
    background: white;
  }
  .select-input-label{
    font-size: 14px;
    overflow: hidden;
    text-overflow: unset!important;
  }
  .select-text{
    position: absolute;
    left: 10px;
    background: white;
    
  }
  .label-md{
    margin: 8px;
  }
  .item-select .label-md{
    margin: 8px 0px;
  }
  .item-md.item-block .item-inner{
    border-bottom:unset;
  }
  .select-md{
    padding: 6px 8px;
  }
  .back-button{
      color: white;
      display: block!important;
      margin-right: 0;
  }
  .grid {
    background-color: white!important;
    .row{
      margin-bottom: 20px;
    }
  }
  .input-label{
    margin-left: 8px;
  }
  .save_button {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    margin: 0 6px;
    color: white;
    text-transform: uppercase;
    background-color: color($colors,secondary,base);
    width: 100%;
    height: 40px;
    font-weight: bold;
  }
  .input-text {
    border-radius: 4px;
    border: solid 1px #ccc;
  }
  .checkbox-span{
      margin: 10px 16px 16px 16px;
  }
}
