page-paymentsuccess {
    ion-header {
        background: #EA0047;
    }
    .content {
        background: #fff;
        text-align: center;
        .content-wrap {
            padding: 30px;
            h1 {
                font-size: 36px;
                font-weight: bold;
                color: #ec0b43;
            }
            p {
                color: #808080;
                font-size: 16px;
                .customer-name {
                    color: #ec0b43;
                }
                .order-id {
                    color: #4bb1a2;
                }
            }
            img {
                margin: 30px 0;
            }
            button {
                background: #4bb1a2;
                padding: 10px 40px;
                font-weight: bold;
                font-size: 16px;
                height: 40px;
                border-radius: 4px;
            }
        }    
    }
    
}
