<ion-header color=primary>
  <ion-navbar>
    <ion-title class="header-title" (click)='goHome()'>
      <img src="assets/img/logo.webp">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content-wrap">
    <h1>Order Successful!</h1>
    <p>Thank you for shopping with us, <span class="customer-name">{{this.userService.user_data.firstname}}</span></p>
    <p>Your order reference number is <span class="order-id">{{this.OrderId}}</span><br>
      You will receive an email shortly containing the details of your order.</p>
    <img src="assets/img/order_success_image.webp">
    <button ion-button (click)='goHome()'>Back to Home</button>
  </div>
</ion-content>
