page-home {
    #custom-overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100000;
      width:100%;
      background-color: #002a3e;
    }
    
    .flb {
      background: linear-gradient(32deg, #e23d4b , #f4533b);
      height:100%;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #custom-overlay img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: auto;
    }
    .loader-wrap {
      background: rgba(255, 255, 255, .3);
      border-radius: 100px;
      margin-top: 30px;    
      .loader{
        background: #fff !important;
        border-radius:100px;
        height:5px;
      }
    }
  }
