<!-- custom splashscreen -->
<div id="custom-overlay" [style.display]="userService.splash ? 'flex': 'none'">
    <div class="flb">
      <div class="flex-wrap">
        <div class="logo-wrap">
          <img src="assets/img/logo.png">
        </div>
        <div class="loader-wrap">
          <div class="loader" [style.width]="progresswidth">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- custom splashscreen -->