<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <button ion-button class="menu-button" (click)="openMenu('main')" >
        <img src="assets/img/pk-bars.png">
      </button>
    <ion-title class="header-title" (click)='goHome()'>
      <img src="assets/img/logo.webp">
    </ion-title>
    <button ion-button class="search-button" (click)='toggleSearch()'>
        <img src="assets/img/pk-search-logo.png">
      </button>
    <button ion-button class="cart-button" (click)='openMenu(kart)' >
        <img src="assets/img/pk-logo-cart.png">
        <ion-badge assertive item-end *ngIf='cartservice.cart_count>0'><span>{{cartservice.cart_count}}</span></ion-badge>
       <!--  <p class="cart-count" *ngIf='cartservice.cart_count>0'>{{cartservice.cart_count}}</p> -->
      </button>
   
  </ion-navbar>
</ion-header>

<!-- <div class="floating-category" #floater>
  <div class="floating-header">
    <div class="floating-header-title" (click)='openCategories()'>{{category.name}}
      <button class="category-dropdown" *ngIf='view_categories!=true'><ion-icon name="ios-arrow-down"></ion-icon></button>
      <button class="category-dropdown" *ngIf='view_categories==true'><ion-icon name="ios-arrow-up"></ion-icon></button></div>
  </div>
  <ul [class]="category_list">
    <li class="list-item" *ngFor='let item of pushkartService.category' (click)=openPage(item)>
      {{item.name}}
    </li>
  </ul>
  <div class="view_categories!=true">
  </div>
</div> -->
<div class="block-content" #tablist>
  <ion-content scrollX class="tab-list" #tablistcontent>
    <li [class]="item.class" #tabs *ngFor='let item of category_children; let i = index' (click)="openIndex(i)">{{item.name}}</li>
  </ion-content>
</div>
<ion-content padding class="content content-products">
  <div class="loader" *ngIf='itemloaded==false'>
    <div id="circularG">
      <div id="circularG_1" class="circularG"></div>
      <div id="circularG_2" class="circularG"></div>
      <div id="circularG_3" class="circularG"></div>
      <div id="circularG_4" class="circularG"></div>
      <div id="circularG_5" class="circularG"></div>
      <div id="circularG_6" class="circularG"></div>
      <div id="circularG_7" class="circularG"></div>
      <div id="circularG_8" class="circularG"></div>
    </div>
  </div>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide class="product-slide" *ngFor='let subcategory of category_children'>
      <ion-content class="product-container">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
             <!--  <h2 class="page-title">
                {{subcategory.name}}
              </h2> -->
            </ion-col>
            <ion-col col-4 class='product-item' *ngFor="let value of subcategory.products; let i=index">
              <div class="item-wrap">
                <button class="img-button" (click)='openProductModal(value)'>
                      <img [src]='value.small_image' onError="this.src='assets/img/image-not-available_1.webp'" >
                    </button>
                <div class="item-name">
                  {{value.name}}
                </div>
                <div class="item-price">
                  <p class="price">
                    ₱{{cartservice.computePrice(value.price,1)}}
                  </p>
                  <p class='weight' *ngIf='value.weight>0'>/{{cartservice.computeWeight(value.weight)+' '+value.weight_unit}}
                  </p>
                </div>
                <div class="main-product-qty">
                  <div class="product-item-qty">
                    <div class="add-btn" *ngIf='cartservice.cart[value.entity_id].qty<1'>
                      <a class='addtocart' *ngIf='value.stock!=0' (click)='cartservice.addItemProduct(value)'>add to cart</a>
                      <a class='addtocart not-active' *ngIf='value.stock<=0'>add to cart</a>
                    </div>
                    <div *ngIf='cartservice.cart[value.entity_id].qty>0'>
                      <a class="minus button" (click)='cartservice.decreaseQty(value)'>-</a>
                      <a class="qty" (click)='increaseQty(value)'>{{cartservice.cart[value.entity_id].qty}}</a>
                      <a class="add button" *ngIf='cartservice.cart[value.entity_id].qty<value.stock' (click)='increaseQty(value)'>+</a>
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
