page-categories {
  font-family: $opensans;
  .page-title {
    text-align: left;
    margin-left: 6px;
    margin-top: 16px!important;
    color: color($colors, dark-secondary, base)!important;
  }
  .loader{
    margin-top: 16px;
  }
  .header-title {
    margin-left: 0;
    img {
      height: 15px;
    }
  }
  .content-products {
    margin-top: 90px;
    padding: 16px;
    #circularG {
      margin: 80px auto;
    }
    .slide-zoom {
      height: 100%;
    }
    .scroll-content {
      padding: 0!important;
    }
    .product-slide {
      width: 100%;
    }
    .product-container {
      animation: fadein .5s;
      background: white;
      padding-bottom: 100px;
    }
    .content .row {
      margin-bottom: 100px;
    }
    .product-item {
      height: 300px;
      overflow: hidden;
      padding-bottom: 16px!important;
      .item-name{
        font-size: 16px;
        display: inline-block;
        text-transform: capitalize;
      }
      .product-item-qty {
        .add-btn{
          line-height: 38px;
        }  
      }
      .item-price {
        font-size: 14px;
        height: 50px;
      }
      .product-img{
        height: auto;
        width: 100%;
      }
    }
  }
  .floating-category {
    animation: fadein .5s;
    position: relative;
    z-index: 100;
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
    font-family: $opensans;
    font-size: 14px;
    text-transform: uppercase; //background-color: rgba(0,0,0,0.9);
    background-color: #333;
    opacity: 0.95;
    .floating-header {
      padding: 14px 12px;
      .category-dropdown {
        background: none;
        color: white;
        animation: spin .5s;
      }
    }
    .floating-list {
      margin-top: 0px;
      animation: accordionIn .5s;
      overflow-y: scroll;
      /* height: 480px; */
      min-height: 480px;
      height: 85%;
      padding: 0;
      margin-bottom: 150px;
      list-style-type: none;
      display: block;
      .list-item {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        width: 100%;
        margin: 16px 0px;
        
      }
      li:last-child{
        margin-bottom: 60px;
      }
    }
  }
  .expand {
    height: 100%;
  }
  .hidden {
    display: none!important;
  }
  .block-content {
    /* position: fixed; */
    opacity: 1;
    position: relative;
    animation: fadein 1.5s;
    margin-top: 0;
    z-index: 90;
    padding: 0px;
    width: 100%;
    display: block;
    white-space: nowrap;
    font-size: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    .tab-list {
      background-color:#F7F7F7;
      overflow-y: hidden;
      overflow-x: auto;
      padding-top: 0;
      padding-bottom: 45px;
      .scroll-content{
        overflow-x: auto;
        overflow-y: hidden;
      }
      li {
        height: 45px;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        padding: 0 10px;
      }
    }
    .active-block {
      color: color($colors, primary, base);
      font-weight: bold;
    }
    .tab-scroll-button {
      animation: fadein 1s;
      position: fixed;
      z-index: 100;
      margin-top: 2px;
      height: 40px;
      width: 25px;
      float: left;
      color: white;
      background: rgba(84, 84, 84, 0.89);
    }
    .scroll-forward {
      right: 0;
      top: 100px;
    }
    .scroll-backward {
      left: 0;
    }
    @keyframes changeColor {
      from {
        color: black;
      }
      to {
        color: color($colors, primary, base);
      }
    }
  }
  
  .tab-list::-webkit-scrollbar-track {
    height: 2px;
    width: 2px; //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  .tab-list::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background-color: #F5F5F5;
  }
  .tab-list::-webkit-scrollbar-thumb {
    height: 2px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .scroll-content::-webkit-scrollbar-track {
    height: 2px;
    width: 2px; //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  .scroll-content::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background-color: #F5F5F5;
  }
  .scroll-content::-webkit-scrollbar-thumb {
    height: 2px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }

 
}
