// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #EA0047,
  secondary:  #54C5B4,
  secondary_button_dark:  #3C8B7E,
  secondary_dark: #1aae88,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #333333,
  dark-secondary:   #2C2C2C
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toast-ios-background:  #f53d3d;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toast-md-background: #f53d3d;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$font-family-base: 'proximanova-regular';
$font-family-ios-base: 'proximanova-regular';
$font-family-md-base: 'proximanova-regular';
$font-family-wp-base: 'proximanova-regular';