<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <button class='close' navPop>
     <ion-icon name='close' ></ion-icon>
   </button>
  <div class="item-wrap">
    <div class="loader" *ngIf='imgloaded==false'>
      <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
      </div>
    </div>
    <img [src]="value.small_image" (load)='productload()' [class]='images' onError="this.src='assets/img/image-not-available_1.webp'">
    <!-- <div *ngIf='imgloaded==true'> -->

      <div class="item-name">
        {{value.name}}
      </div>
      <div class="item-price">
        <p class='weight' *ngIf='value.weight>0'>{{value.weight+' '+value.weight_unit}}
        </p>
        <p class="price">
          ₱{{value.price}}
        </p>

      </div>
    <!-- </div> -->
    <div class="product-item-qty">
      <div class='item-qty-container'>
        <button class='addtocart' (click)='addItem()' *ngIf="qty<1">add to cart</button>
        <div *ngIf='qty>0'>
          <ion-grid class="qty-grid">
            <ion-row>
              <ion-col col-2>
                <button class="qty-button" (click)='decreaseQty()'>-</button>
              </ion-col>
              <ion-col col-4>
                <ion-input class="input" type="number" [(ngModel)]='qty_temp' (focusout)="eventHandler(13)" (keypress)="eventHandler($event.keyCode)"></ion-input>
              </ion-col>
              <ion-col col-6>
                <button class="qty-button" *ngIf='this.qty<this.value.stock' (click)='increaseQty()'><ion-icon name="md-add"></ion-icon> &nbsp;ADD</button>
                <button class="qty-button not-active" *ngIf='this.qty>=this.value.stock' ><ion-icon name="md-add"></ion-icon> &nbsp;ADD</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
