page-product {
  overflow-y: hidden!important;
  .content,
  .scroll-content {
    overflow-y: hidden;
    .row{
      margin-bottom: 0;
    }
  }
  ion-content {
    overflow-y: hidden;
    background-color: white!important;
    text-align: center;
    .close {
      opacity: 0.5;
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 32px;
      margin-right: 10px;
      background-color: white;
    }
    .item-wrap {
      padding-top: 36px;
      img {
        /* width: auto;
        height: 200px; */
        height: auto;
        max-height: 260px;
        max-width: 260px;
        width: 100%;
        padding: 0 16px;
        margin-bottom: 20px;
      }
      .loader {
        height: 200px;
        padding: 100px;
      }
      .item-name {
        margin: 0 16px;
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: $opensans;
      }
      .price {
        color: #333333;
        font-family: $opensans;
        font-size: 18.5px;
        font-weight: bold;
        margin: 10px 0;
      }
      .weight {
        font-size: 15px;
        color: #999;
        margin: 10px 0;
      }
      .product-item-qty {
        margin: 30px 2%;
        border-radius: 4px;
        height: auto;
        width: 96%;
        font-size: 14px;
        color: white;
        background: white;
        .item-qty-container {
          height: 100%;
        }
        .addtocart,
        .qty-button,
        .input {
          animation: fadein .5s;
          height: 40px;
          width: 100%;
          border-radius: 4px;
          transition: all .2s ease-in-out;
        }
        .addtocart {
          background-color: color($colors, secondary, base);
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
        }
        .qty-button {
          font-size: 16px;
          background-color: color($colors, secondary, base);
          font-weight: bold;
        }
        .input {
          border: 1px solid #ccc;
          color: black;
          font-weight: bold;
          line-height: 40px;
          font-size: 16px;
        }
        .addtocart:active,
        .qty-button:active {
          transition: all .2s ease-in-out;
          background-color: color($colors, secondary_button_dark, base);
        }
        .not-active {
          background-color: color($colors, secondary_button_dark, base);
        }

      }
    }
    ion-grid {
      ion-col {
        line-height: 100%;
        height: 100%;
        text-align: center;
      }
    }
    .qty-grid {
      padding: 0px;
    }
    .qty-button {
      background: none;
      color: white;
      font-size: 32px;
    }
    .text-input-md,
    .text-input-ios {
      width: 100%;
      text-align: center;
      margin: 0px!important;
    }
  }
  .hidden {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
}
