<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color=primary>

  <ion-navbar>
    <!-- <button (click)='onback()' class="menu-button navbar-default">
              <ion-icon name="arrow-back"></ion-icon> -->
    <ion-title>About us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <div class="text-content">
    <h1 class="header">About Pushkart.ph</h1>
    <p class="bold-text">Pushkart.ph is an online grocery delivery service, developed by a group of young Filipino millennials, that aims to ensure
      fast, convenient, and safe delivery of groceries right at your doorstep.</p>
    <p>Just like you, sometimes things get in the way and we have no time and energy for a quick run to the grocery. And so
      we thought, what if someone else can buy these things for me, right? A few clicks online and I’m all set.</p>
    <span>To give you back some of those precious hours, and avoid the typical 3 hour chore of braving the traffic and carrying heavy bags for your grocery shopping.</span>
    <p>And yes, we're proudly developed and conceptualized in the Philippines.</p>
    <p><strong>Convenient Shopping,</strong> Shop for your groceries and choose delivery date.</p>
    <p><strong>Guaranteed fresh,</strong> We guarantee the best product for you.&nbsp;</p>
    <p><strong>Same store pricing,</strong> Since we don't have high cost stores and related overhead, we can pass the savings
      on to you!</p>
  </div>
</ion-content>
