page-about-us {
  .back-button {
    display: block!important;
    color: white;
    overflow: hidden;
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .toolbar-background-ios{
    background: color($colors,primary,base);
  }
  .back-button-text-ios{
    display: none!important;
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 2px;
  }
  .toolbar .toolbar-md,
  .toolbar-background-md,
  .header-md,
  .toolbar-background-md {
    background: color($colors, primary, base);
  }
  .content {
    padding: 16px;
    background: white;
    .text-content{
        margin-bottom: 50px;
    }
    .header {
      font-weight: bold; 
      color: color($colors, primary, base);
      text-align: center;
      font-size: 22px;
      margin: 45px 30px 15px 30px !important;
    }
    .bold-text {
      color: #333;
      font-weight: bold;
    }
    p,
    span {
      font-size: 16px;
      display: inline-block;
      padding: 0 16px;
      text-align: justify;
    }
  }
}
