page-payment {
  .header {
    background: color($colors,primary,base);
  }
  .toolbar-content-ios{
    .menu-button{
      margin-top: 8px;
      font-size: 24px;
    }
    .toolbar-title-ios{
      font-size:18px;
      text-transform: capitalize;
    }
  }
  .menu-button {
    font-size: 16px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
  }
  .toolbar-title-md {
    color: white;
    padding: 0px 8px;
    margin-top: 0;
  }
  .toolbar-title-md {
    padding-top: 2px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .toolbar .toolbar-md,
  .toolbar-background-md,
  .header-md,
  .toolbar-background-md {
    background: color($colors, primary, base);
  }
}
