<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color=primary>

  <ion-navbar>
    <button (click)='presentConfirm()' class="menu-button navbar-default">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>{{payment}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <iframe  class="e2e-iframe-trusted-src" sandbox="allow-scripts allow-top-navigation allow-same-origin" (load)="dismissLoading()" frameBorder="0" width="100%" height="100%" [src]="trustedUrl"></iframe>
</ion-content>
