<ion-menu [content]="content"  side='left' id='category'>
  <ion-header>
    <ion-toolbar class="submenu-left">
      <!-- <p class="submenu category">categories</p> -->
      <div>
        <img class="submenu-logo" src="assets/img/login_logo.png"><ion-icon menuClose name="arrow-round-forward"></ion-icon>
        <h3>Shop by Category</h3>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="slidemenu">
      <ion-list>
          <button menuClose ion-item *ngFor='let item of pushkartService.category' (click)=openPage(item)>
              <span class="icon-wrap"><img src="assets/img/caticon/{{item.name}}.png" onError="this.src='assets/img/caticon/noicon.png'"></span>
              <span>{{item.name}}</span>
          </button>
      </ion-list>
  </ion-content>
        
  <!-- <ion-content class="slidemenu">
    <ion-list>
      <div menuClose class="categorylist-item" *ngIf="getActivePage()!='PAGE-MAIN'" (click)='goHome()'>
        <button class="categorylist"> <ion-icon name="ios-home-outline"></ion-icon> &nbsp; home</button>
      </div>
      <div class="categorylist-item list-item-disable category-list-header" *ngIf="userService.user_data==null">
        Hi!
      </div>
      <div class="categorylist-item list-item-disable category-list-header" *ngIf="userService.user_data!=null">
        Hi, 
        {{userService.user_data.firstname}}!
      </div>
      <div menuClose class="categorylist-item" (click)='openMyAccount(0)'>
        <button class="categorylist"><ion-icon name="ios-person-outline"></ion-icon> &nbsp; my account</button>
      </div>
      <div menuClose class="categorylist-item" (click)='openMyAccount(3)'>
        <button class="categorylist"><ion-icon name="ios-pin"></ion-icon> &nbsp; My Address</button>
      </div>
      <div menuClose class="categorylist-item" (click)='openMyAccount(4)'>
        <button class="categorylist"><ion-icon name="md-star-outline"></ion-icon> &nbsp; My Kredits</button>
      </div>
      <div menuClose class="categorylist-item" (click)='openLogout()'>
        <button class="categorylist"><ion-icon name="ios-log-out"></ion-icon> &nbsp; logout</button>
      </div>
      <div class="categorylist-item list-item-disable category-list-header">
        Need Help?
      </div>
      <div menuClose class="categorylist-item" (click)='openFaq()'>
          <button class="categorylist"><ion-icon name="md-help"></ion-icon> &nbsp; FAQ</button>
        </div>
      <div menuClose class="categorylist-item" (click)='openPrivacyPolicy()'>
        <button class="categorylist"><ion-icon name="ios-lock"></ion-icon> &nbsp; Privacy Policy</button>
      </div>
      <div menuClose class="categorylist-item" (click)='openTermsandConditions()'>
        <button class="categorylist"><ion-icon name="ios-document"></ion-icon> &nbsp; Terms and Conditions</button>
      </div>
      <div menuClose class="categorylist-item" (click)='openAboutUs()'>
        <button class="categorylist"><ion-icon name="ios-information-circle-outline"></ion-icon> &nbsp; About us</button>
      </div>
      <div class="categorylist-item list-item-disable category-list-header">
        Connect with us
      </div>
      <div menuClose class="categorylist-item" (click)='openFacebook()'>
        <button class="categorylist"><img class="category-img" src='assets/img/facebook.png'><p>&nbsp; facebook</p></button>
      </div>
      <div menuClose class="categorylist-item" (click)='openInstagram()'>
        <button class="categorylist"><img class="category-img" src='assets/img/instagram.png'><p>&nbsp; instagram</p></button>
      </div>
      <div class="categorylist-item list-item-disable">
        <div class="mobile-copyright-block">{{url}}<br>Copyright © PushKart PH 2017<br>All rights reserved</div>
      </div>
      <div class="categorylist-item list-item-disable">
        <img src="assets/img/fishermall_logo.webp">
      </div>
      <div class="categorylist-item list-item-disable">
        <img src="assets/img/paymaya.webp">
      </div>
    </ion-list>
  </ion-content>
</ion-menu> -->
</ion-menu>
<ion-menu [content]="content" side="right" id="mykart">
  <ion-header>
    <ion-toolbar color="primary">
        <button class="menu-button mykart-button" (click)="closeMyKart()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
      <p class="submenu myKart-title" (click)="closeMyKart()">MyKart</p> 
    </ion-toolbar>
  </ion-header>
  <div class="mykart-content">
    <div class="discount">
      <p class="discount-message">{{cartservice.grocersmessage}}</p>
      <div class="discount-progress">
        <div class="discount-bar-parent">
          <div class="discount-bar-child" [style.width]='cartservice.grocerspercent' [style.background-color]='cartservice.grocercolor'>
          </div>
          <div class="discount-label">
            <p class="discount-1" *ngFor='let service of cartservice.service'><span class="discount-span">₱{{cartservice.numberWithCommas(service.price)}}</span></p>
          </div>
        </div>
      </div>
      <ion-grid class="discount-label">
        <ion-row class="discount-label-row row-border">
          <ion-col col-4 class="discount-label-col subtext">
            Grocer's fee starts at ₱199
          </ion-col>
          <ion-col col-4 class="discount-label-col bold">
            ₱150 OFF
          </ion-col>
          <ion-col col-4 class="discount-label-col primary">
            FREE
          </ion-col>
        </ion-row>
        <ion-row class="discount-label-row clear-row">
          <ion-col col-8 class="cart-count-col">
            {{cartservice.cart_count}} Item(s)
          </ion-col>
          <ion-col col-4 class="clear-col">
            <button class="clear-button" (click)='clearkart()'>clear all</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <ion-content class="mykart-list" *ngIf='cartservice.cart_loaded == true'>
      <ion-grid class="mykart-grid">
        <ion-row class="mykart-row" *ngFor='let value of cartservice.cart_display_item'>
          <ion-col col-3 class="product-img">
            <img [src]="value.small_image" onError="this.src='assets/img/image-not-available_1.webp'">
          </ion-col>
          <ion-col col-9 class="product-desc">
            <p class="product-name">
              {{value.product_name}}
            </p>
            <p class="product-price">
              ₱{{cartservice.computePrice(value.price,1) }}
            </p>
            <div class='product-qty-container'>
              <a class="minus button" (click)='cartservice.decreaseQtyKart(value)'>-</a>
              <p class="qty">{{value.qty}}</p>
              <a class="add button" *ngIf='!isMaximum(value)' (click)='cartservice.increaseQtyKart(value.product_id)'>+</a>
            </div>
            <div class="price-total">
              ₱{{cartservice.numberWithCommas(cartservice.computePrice(value.price,value.qty)) }}
            </div>
            <button class="remove-item" (click)='cartservice.removeKartQty(value)'>
              <img src='assets/img/modal_close_icon.png'>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>
    <div class="subcontainer">
      <ion-grid>
        <ion-row class="subcontainer-row subdetail-row">
          <ion-col col-6 class="title">
            Subtotal
          </ion-col>
          <ion-col col-6 class="value">
            ₱{{cartservice.numberWithCommas(cartservice.total)}}
          </ion-col>
          <ion-col col-6 class="title">
            Grocer's fee
          </ion-col>
          <ion-col col-6 class="value">
            ₱{{cartservice.grocersfee}}
          </ion-col>
        </ion-row>
        <ion-row class='subconainer-row subtotal-row'>
          <div class="subtotal">
            <button menuClose class="checkout-btn" (click)='openCheckout()'>
                checkout</button>
            <div class="total">
              <span class="total-span">₱{{cartservice.numberWithCommas(cartservice.total_service)}}</span>
            </div>
          </div>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
