// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans-Regular'), url("../assets/fonts/OpenSans-Regular.ttf");
}

$opensans: 'opensans';


$height_navbar: 50px;
body {
  overflow: hidden;
}

.ion-page, ion-app.md {
  font-family: $opensans;
}

button {
  box-shadow: unset!important;
}


/* alerts */

.alert-title {
  font-weight: bold;
  text-transform: capitalize;
}

.alert-message {
  color: #333!important;
}

.alert-input {
  border: #ccc solid 1px;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.toast-message,
.loading-content,
.alert-sub-title {
  font-family: $opensans !important;
}

.alert-sub-title::first-letter,
.toast-message::first-letter,
.loading-content::first-letter {
  text-transform: capitalize!important;
}

.toast-wrapper {
  background: color($colors, primary, base)!important;
}


/* ios */

.button-ios {
  background-color: rgba(0, 0, 0, 0);
}

.toolbar-content-ios {
  .menu-button,
  .search-button,
  .cart-button {
    position: absolute;
    top: 0;
  }
  .button-default-ios {
    margin: 0;
  }
  .search-button {
    right: 60px;
  }
  .mykart-button {
    margin-top: 12px;
  }
  .cart-button {
    right: 10px;
    .cart-count {
      top: 6px;
    }
  }
  .title-ios {
    padding-left: 50px;
  }
}

.toolbar-ios ion-title {
  margin-top: 0px !important;
  padding: 0 70px;
  width: unset!important;
}

.toolbar-background-ios {
  background: rgba(0, 0, 0, 0);
}

.toolbar-ios,
.header-ios {
  height: $height_navbar;
}

.toolbar-title-ios {
  text-align: unset;
  color: white;
}

.bar-button-default-ios {
  padding-left: 12px;
  .back-button-text-ios {
    display: none;
  }
}

.content-ios {
  padding-top: 16px;
}

.searchbar-ios {
  background: unset;
  border-bottom: unset;
}


/* ios */

#form-search {
  width: 100%;
  float: left;
  border: none;
  border-radius: 4px;
  animation: fadein 1s;
  .searchbar-input {
    border-radius: 10px;
  }
}

.toolbar-background-md {
  background-color: rgba(0, 0, 0, 0);
}

.submenu-left {
  background-color: color($colors, light, base);
  padding-left: 16px;
  height: 80px;
  border-bottom: 1px solid rgba(191, 191, 191, .5);
  .submenu-logo {
    height: 35px;
  }
  h3 {
    margin: 0;
    color: #737373;
    font-size: 1.3rem;
    padding: 5px 0 0 5px;
  }
  ion-icon {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 1.8em;
    color: #bfbfbf;
  }
}

#mykart {
  width: 100%;
  .menu-inner {
    width: 100%;
  }
  .myKart-title {
    font-size: 12px!important;
    text-transform: uppercase;
  }
  .mykart-button {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.toolbar-md {
  min-height: 50px;
}

ion-header {
  height: $height_navbar;
  position: relative;
  transition: all 0.5s ease-in-out;
  .toolbar-content{
    display: flex;
    align-items: center;
  }
  button {
    background: none !important;
    background-color: none !important;
    box-shadow: none !important;
  }
  .header-title {
    margin: unset;
    img {
      height: 18px;
    }
    float: left;
  }
  .submenu {
    color: white;
    top: 0;
    font-size: 12px !important;
    padding: 0 15px;
    font-weight: bold;

  }
  .category {
    padding: 0 16px;
  }
  /*.category{
    padding: 0 16px;
  } */
  .cart-button {
    /*position: absolute;
          right: 0;
          top: 0;*/
    height: 40px;
    margin: 1px;
    margin-right: 0;
    padding: 0 16px 0 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    img {
      height: 25px;
    }
    .cart-count {
      position: absolute;
      top: 0;
      margin: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 10px;
      background: white;
      text-align: center;
      color: color($colors, primary, base);
      border: 1px solid #ea0047;
      line-height: 1.7em;
    }
    ion-badge{
      color: #EA0047;
      background: #fff;
      display: flex;
      align-items: center;
      height: 20px;
      min-width: 20px;
      border-radius: 50%;
      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
     /*  position: absolute;
      top: 3px;
      right: 3px;
      border-radius: 50%;
      font-size: 1rem;
      min-width: 1.6em;
      height: 1.6em;
      line-height: 1.6em;
      padding: 0 3px; */
      span{
        width: 100%;
        text-align: center;
        font-size: 12px;
      }
    }
  }
  .search-button {
    font-size: 18px;
    float: right;
    padding: 0 15px;
    height: 100%;
    img {
      height: 25px;
      padding-right: 5px;
    }
    /* position: absolute;
          right: 32px;
          top: 0;
          margin: 10px;
          font-size: 20px;*/
  }
  .back-button {
    display: none!important;
  }
  .menu-button {
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 18px;
    float: left;
    z-index: 100;
    padding: 0;
    margin-left: 10px;
    img {
    
      height: 20px;
    }
    /*position: absolute;
          left: 0;
          top: 0;
          margin: 10px;*/
  }
}

.toolbar-title-md {
  color: white;
  padding: 0px 10px;
}

.list-md {
  margin-bottom: 0px;
  margin-top: 30px;
}

/* .list-md .item-block .item-inner {
  border-bottom: unset;
} */

.subheader {
  font-size: 16px;
  color: #666;
}


/*navbar*/

.navbar-default {
  background-color: #ea0047;
  border-radius: 0!important;
  margin-bottom: 0!important;
  border-color: #ea0047;
}

.slidemenu {
  //background-color: white!important;
  background-color: color($colors, light, base)!important;
  button {
    padding-right: 16px;
    .label-md {
      display: flex;
    }
    span.icon-wrap {
      width: 30px;
      margin: 0 15px;
      display: inline-block;
      img {
        display: block;
        margin: auto;
      }
    }
  }
}

.cart-button,
.menu-button,
.search-button {
  box-shadow: unset;
}

.search-suggestion {
  position: absolute;
  z-index: 90;
  overflow: auto;
  height: 510px;
  animation: listdown 0.5s;
  border-radius: unset;
  width: 430px;
}

.search-suggestion .list-group-item {
  border-radius: unset;
  width: 430px;
}

.search-filter {
  height: 100%;
  overflow: auto;
}

.navbar-form {
  width: 430px !important;
  border-radius: 4px;
  background: white;
  padding: 2!important;
}


/*.search-button{
    float: right;
    border: none;
    margin-top: 3px;
}
.search-button:hover{
    background: unset;
}*/

.navbar-default .navbar-nav>li>a,
.navbar-header .navbar-brand {
  color: white;
  cursor: pointer;
}

.navbar-default .navbar-nav {
  float: right;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}


/*navbar*/

.sidebar {
  width: 20%;
  float: left;
  padding-top: 20px;
}

.sidebar .list-group-item-heading {
  padding-left: 12px;
}

.sidebar .list-group-item {
  border: none;
  cursor: pointer;
}

.list-item-disable {
  color: #757575;
  background-color: #fff;
  img {
    filter: invert(1);
    height: 20px;
  } //background:color($colors,dark-secondary,base);
}


/*coent*/

.content {
  width: 100%;
  overflow: auto;
  float: left;
  height: 100%; //background: rgba(0, 0, 0, 0.2);
  background: #E6E6E6;
  /* background: white; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.header-md::after {
  background-image: none;
}
.content-products {
  background: white;
  #circularG{
    margin: 20px auto;
  }
}

.content .page-title {
  /* margin-left: 16px; */
  color: #333;
  font-weight: bold;
  width: 100%;
  clear: both;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
}

.content .page-title:first-child {
  margin-top: 15px;
}

.content .page-header {
  margin-left: 16px;
}

.content .row {
  list-style: none;
  width: 100%;
  margin-bottom: 15px;
}

.content .row .subrow {
  margin-bottom: 50px;
}

.content .row .subrow .list-group-item-heading {
  margin-left: 10px;
}


/* mykart list */

.mykart-list .item-md {
  border-bottom: 1px solid #E6E6E6;
}

.product-item {
  animation: fadeinup 1s;
  max-width: 140px;
  /* width: 30.33%; */
  padding-bottom: 16px!important;
  padding-top: 16px!important;
  width: 100%;
  height: auto;
  padding: 6px;
  position: relative;
  text-align: center;
  .item-name {
    overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-family: $opensans;
    height: 70px;
    line-height: 1.5em;
    text-align: left;
    float: left;
    width: 100%;
  }
  .price {
    font-family: 'opensans';
    font-weight: 900;
    color: color($colors, dark, base);
    padding: 0;
    margin: 15px 0 10px 0;
    font-size: 12px;
    float: left;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .weight {
    font-size: 12px;
    height: 16px;
    min-height: 16px;
    margin: 15px 0 10px 0;
    float: left;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    p{
      margin: 0;
    }
  }
  .item-wrap {
    background: white;
    height: auto;
    border-radius: 4px;
  }
  .img-button {
    background-color: white;
    height: 100px;
    .product-loader {
      position: absolute!important;
      margin-left: 20%!important;
      margin-top: 16px!important;
      z-index: 1;
    }
    img {
      z-index: 2;
      height: 100px;
    }
  }
  .price-total {
    font-size: 16px;
    color: color($colors, primary, base);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.item-qty {
  /* width: 93%; */
  width: 100px;
  height: 20px;
  cursor: pointer;
  margin: 5px;
  display: block;
  color: white;
}

.item-qty .item-qty-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  .minus,
  .add,
  .qty {
    font-size: 18px;
    font-weight: bold;
  }
  .minus,
  .add {
    color: color($colors, secondary, base);
  }
  .qty {
    color: #666;
  }
}

.item-qty .item-qty-container .addtocart-container .addtocart {
  text-align: center;
  text-transform: uppercase;
}

.item-qty .item-qty-container .addtocart {
  width: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  /* animation: fadein .5s; */
}

.item-qty-container div {
  /* animation: fadein .5s; */
  position: relative;
  width: 100%;
  height: 100%;
  p {
    margin: unset;
    float: left;
    width: 60%;
    display: inline-block;
  }
  a {
    color: white;
    float: left;
    width: 20%;
  }
}

.mykart-content {
  margin-top: 50px;
  overflow-y: hidden;
  height: 100%;
}

.mykart-list {
  height: 55%!important;
  overflow-y: auto;
  background-color: white;
  .mykart-grid {
    .mykart-row {
      padding: 10px 0;
      margin-bottom: 0;
      border-bottom: 1px solid #ccc;
      ion-col {
        padding-bottom: 10px;
      }
      .product-img {
        text-align: center;
        img {
          margin-top: 10px;
          height: 50px;
          width: 50px;
        }
      }
      .product-desc {
        .product-name,
        .product-price {
          width: calc(100% - 25px);
          margin: 0;
          font-size: 14px;
          text-transform: uppercase;
          color: #666;
        }
        .product-price{
          font-size: 13px;
        }
        .product-qty-container {
          width: 150px;
          height: 20px;
          margin-top: 10px;
          .minus,
          .qty,
          .add {
            width: 30%;
            float: left;
            text-align: left;
            font-size: 16px;
            font-weight: 900;
            color: color($colors, secondary, base);
          }
          .minus {
            width: 25%;
          }
          .qty {
            margin: 0;
            color: #666;
          }
        }
        .price-total {
          position: absolute;
          right: 10px;
          text-align: right;
          width: 100px;
          bottom: 14px;
          color: #333;
          padding-left: 16px;
          font-weight: 600;
        }
        .remove-item {
          position: absolute;
          top: 5px;
          right: 10px;
          background-color: rgba(0, 0, 0, 0);
          margin: 0;
          padding: 0;
          height: 12px;
          width: 12px;
          img {
            height: auto;
            width: auto;
          }
        }
      }
    }
  }
  .mykart-grid:last-child {
    margin-bottom: 100px;
  }
}

.discount {
  padding: 10px 10px 0 10px;
  margin-bottom: 2px;
  background-color: #fff;
  border-bottom: 1px solid rgba(204, 204, 204, .5);
  box-shadow: none;
  .discount-message {
    text-align: left;
    font-size: 13px;
    color: #333;
    margin: 5px 0 10px;
    padding: 0 5px;
  }
  .discount-progress {
    width: 100%;
    height: 15px; 
    padding: 0 5px;
    .discount-bar-parent {
      border-radius: 2px;
      height: inherit;
      position: relative;
      background-color: #E6E6E6;
      overflow: hidden;
      color: white;
      .discount-bar-child {
        border-radius: inherit;
        background-color: #EC0B43;
        height: inherit;
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .discount-label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        p {
          float: left;
          padding: 0;
          margin: 2px;
          width: 33.333%;
        }
        .discount-1 {
          text-align: center;
          height: 100%;  
          font-size: 12px;   
          margin: 0; 
          display: flex;
          align-items: center;
          .discount-span{
            width: 100%;
          }
        }
        .discount-1:nth-child(1) {
          padding-left: 10px;
          text-align: left;
        }
        .discount-1:nth-child(3) {
          text-align: right;
          padding-right: 10px;
        }
      }
    }
  }
  .discount-label {
    .discount-label-row {
      margin-bottom: 0px!important;
      .cart-count-col {
        font-size: 13px;  
        font-weight: 600;  
        color: #333; 
        padding-left: 0;
      }
      .discount-label-col {
        text-align: center;
      }
      .subtext {
        font-size: 12px;
        color: #666;
        text-align: left;
        line-height: 1.2em;
        margin-bottom: 5px;
      }
      .bold {
        font-size: 12px;
        font-weight: bold;
      }
      .primary {
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        color: color($colors, primary, base);
      }
    }
    .row-border {
      border-bottom: 1px solid #ccc;
    }
  }
  .clear-row {
    margin: 5px 0;
    .clear-col {
      text-align: right;
      padding-right: 0;
    }
    .clear-button {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: color($colors, secondary, base);
      background-color: inherit;
      padding-right: 0;
    }
  }
}

.subcontainer {
  animation: fadeinup .3s;
  padding-top: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  border-top: 1px solid rgba(204, 204, 204, .5); 
  background-color: #ffffff;     
  height: 115px;
  ion-grid {
    margin: 0;
    padding: 0;
  }
  .subcontainer-row {
    margin-bottom: 12px;
  }
  .subtotal-row {
    margin-bottom: 0;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .title {
    padding: 5px 16px;
    color: #666;
  }
  .value {
    padding: 5px 18px;
    color: black;
    font-weight: bold;
    text-align: right;
  }
  .subtotal {
    font-weight: bold;
    width: 100%;
    height: 40px;
    color: white;
    .checkout-btn {
      float: left;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 60%;
      color: white;
      text-transform: uppercase;
      font-size: 16px;
      background-color: #53C4B3;
      font-weight: 600;
    }
    .total {
      text-align: center;
      line-height: 50px;
      float: right;
      height: 100%;
      width: 40%;
      background-color: #4BB1A2;
      display: flex;
      align-items: center;
      .total-span {
        font-size: 15px;
        display: inline-block;
        font-weight: 600;
        line-height: normal;
        width: 100%;
      }
    }
  }
}


/* mykart list */

.categorylist-item {
  font-family: $opensans!important;
  padding: 15px;
  font-size: 12px;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
  .category-img {
    height: 14px;   
    width: 14px; 
    margin-right: 15px;
    float: left;
  }
  p {
    float: left;
    margin: 4px;
  }
}

.category-list-header {
  font-family: $opensans;
  color: #757575;
  text-transform: uppercase;
  background-color: #fff;
  padding:15px; 
  font-size: 14px; 
  font-weight: bold;
}

.subcat-container {
  animation: accordionIn 0.5s;
  display: block;
  transition: all ease-in-out 1s;
  overflow-y: scroll;
  height: 200px;
  background-color: color($colors, dark, base);
}

.sub {
  display: inline-block; //background-color: #E6E6E6;
  background-color: color($colors, dark-secondary, base);
  color: white;
}


/* main-product-qty */

.main-product-qty {
  width: 100%;
  clear: both;
  .product-item-qty {
    overflow: hidden;
    background-color: color($colors, secondary, base);
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-weight: bold;
    .addtocart {
      font-size: 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
    .not-active {
      background-color: color($colors, secondary_button_dark, base);
    }
    .minus,
    .qty,
    .add {
      color: white;
      float: left;
      height: 100%;
      width: 33.33%;
      font-size: 14px;
    }
  }
}


/* main-product-qty */

@keyframes accordionIn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.accordionOut {
  animation: accordionOut .5s;
  height: 200px;
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    height: 0;
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

.more {
  background-color: color($colors, light, base);
  color: white;
  position: absolute;
  right: 10px;
  animation: spin .5s;
}

.categorylist {
  text-transform: capitalize;
  background: color($colors, light, base);
  font-size: 14px;
  color: #e5e5e5;
  ion-icon{
    margin-right: 20px;
  }
}


/*content*/

.cart-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.cart-shadow {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 100;
  position: absolute;
  animation: fadein 1s;
}

.cart {
  position: absolute;
  right: 0;
  width: 350px;
  height: 100%;
  background: white;
  overflow: auto;
  z-index: 101;
  animation: slideincart .7s;
  padding-bottom: 100px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes slideincart {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideback {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes listdown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.banner {
  width: 100%;
  height: 250px;
  text-align: center;
  margin-bottom: 16px;
  .mobile-banner {
    display: block;
    width: 100%;
    height: auto;
  }
  .desktop-banner {
    width: 100%;
    height: auto;
    display: none;
  }
  button {
    position: absolute;
    z-index: 100;
    height: 250px;
    width: 50px;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }
  .btnPrev {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 0, 0, 0));
    left: 0;
  }
  .btnNext {
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.2));
    right: 0;
  }
  .slides {}
}


/*Animation functionality*/

@-webkit-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-moz-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-o-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

#circularG {
  position: relative;
  width: 58px;
  height: 58px;
  margin: auto;
}

.circularG {
  position: absolute;
  background-color: rgb(234, 0, 70);
  width: 14px;
  height: 14px;
  border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#circularG_1 {
  left: 0;
  top: 23px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}

#circularG_2 {
  left: 6px;
  top: 6px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}

#circularG_3 {
  top: 0;
  left: 23px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

#circularG_4 {
  right: 6px;
  top: 6px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}

#circularG_5 {
  right: 0;
  top: 23px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}

#circularG_6 {
  right: 6px;
  bottom: 6px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

#circularG_7 {
  left: 23px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}

#circularG_8 {
  left: 6px;
  bottom: 6px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}

@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(.3);
  }
}

@media screen and (min-width: 700px) {
  .mobile-banner {
    display: none;
  }
  .desktop-banner {
    display: block;
  }
}

@media screen and (min-height:1024px) {
  .mykart-list {
    height: 70%!important;
  }
}
