<ion-content>
  <ion-slides pager="true" parallax="true">

    <ion-slide>
      <p class="slide-header">Shop your groceries <br/> without stress</p>
      <img src="assets/img/slide_1.png">
      <p class="slide-text">Choose from our wide selection of goods with over 5,000 products available on our website.</p>
      <button ion-button block class="slide-button" (click)="navHome()">SKIP INTRO</button>
    </ion-slide>

    <ion-slide>
        <p class="slide-header">Smart Search</p>
        <img src="assets/img/slide_2.png">
        <p class="slide-text">Choose from our wide selection of goods with over 5,000 products available on our website.</p>
        <button ion-button block class="slide-button" (click)="navHome()">SKIP INTRO</button>
    </ion-slide>

    <ion-slide>
        <p class="slide-header">Same day guarantee</p>
        <img src="assets/img/slide_3.png">
        <p class="slide-text">Order before 2pm for same day delivery, After 2pm for next day delivery.</p>
        <button ion-button block class="slide-button" (click)="navHome()">GET STARTED!</button>
      </ion-slide>

  </ion-slides>
</ion-content>
