page-intro {
    .swiper-slide img {
        max-width: 150px;
        max-height: 150px;
    }
    ion-slide {
        .slide-zoom {
            height: 80%;
        }
        .slide-button {
            position: absolute;
            bottom: 0;
            margin: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50px;
            background: rgba(255, 255, 255, .2);
            font-weight: bold;
        }
    }
    ion-slide:nth-child(1) {
        background: linear-gradient(to right, #3098d5 , #74c3cd);
    }
    ion-slide:nth-child(2) {
        background: linear-gradient(to right, #437ed4 , #b768b1);
    }
    ion-slide:nth-child(3) {
        background: linear-gradient(to right, #e66794 , #ed7167);
    }
    .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
        border: 1px solid #fff;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
    }
    .slide-header, .slide-text {
        margin: 50px auto;
        max-width: 80%;
        color: #fff;
    }
    .slide-header {
        font-weight: 600;
    }
    .slide-text {
        font-size: 80%;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 15%;
    }
}
