checkout-page {
  .section.address{
    #circularG{
      margin: 20px auto;
    }
  }
  .section.sched{
    .label-md{
      margin: 0 0 10px 0;
      font-size: 16px;
    }
    ion-row{
      margin-bottom: 15px;
    }
    #circularG{
      margin: 20px auto;
    }
  }
  .content{
    .label-md{
      margin: 11px 8px 0 0;
    }
  }
  .toolbar-title {
    text-transform: capitalize;
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  .back-button {
    display: block!important;
    color: white;
    margin-right: 0;
  }
  .text-input-ios{
    padding-left: 10px;
  }
  .section {
    .section-title {
      background-color: #EEEEEE!important;
      font-weight: bold;
      height: 50px;
      font-size: 14px;
      padding: 16px;
      color: #666;
      text-transform: uppercase;
    }
    .section-content,
    .summary-data {
      background-color: white;
      padding: 10px;
    }
    .section-grid {
      .section-row {
        margin-bottom: 16px;
        .row{
          margin-bottom: 0;
        }
      }
    }
    .address_list {
      margin-top: 16px;
      width: 100%;
      animation: fadein 1s;
      .address-item {
        transition: all .1s ease-in-out;
        display: block;
        margin-bottom: 10px;
        padding: 0 10px;
        min-height: 130px;
        width: 100%;
        border-radius: 5px;
        border: solid 2px #ccc;
        position: relative;
        .address_details {
          margin-right: 0;
          display: inline-block;
          height: 100%;
          width: 80%;
          padding: 10px;
          .detail {
            text-align: left;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
          }
          .title,
          .subtitle {
            font-weight: bold;
            font-size: 16px;
          }
        }
        .button-option {
          z-index: 100;
          text-transform: capitalize;
          font-size: 24px;
          width: 20%;
          font-weight: bold;
          float: left;
          text-align: right;
          margin-top: 10px;
          background: rgba(0, 0, 0, 0);
          color: color($colors, secondary_dark, base);
        }
        .edit, .button-option:last-child{
          padding: 0; 
          margin: 0;  
          position: absolute;  
          right: 10px;  
        }
        .edit {
          font-size: 14px;
          top: 10px;
        }
        .button-option:last-child { 
          bottom: 10px;
        }
      }
    }
    .add-item-button {
      height: 50px;
      width: 100%;
      border: solid #49BB59 2px;
      color: #49BB59;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      background: rgba(0, 0, 0, 0);
      border-radius: 5px;
      display: flex;
      align-items: center;
      ion-icon {
        float: left;
        font-size: 32px;
        width: 15%;
      }
      p {
        text-align: center;
        margin: 0;
        padding: 0;
        padding-left: 28px;
        width: calc(100% - 50px);
      }
    }
    .loader {
      width: 100%;
    }
    .not-active {
      background: white;
    }
    .input-text {
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #333;
      transition: all .2s ease-in-out;
    }
    .instruction {
      height: 100px;
    }
    .delivery-date {
      border: 2px solid #ccc;
      color: #666;
      font-size: 12 px;
      border-radius: 5px;
      width: 19%;
      height: 80px;
      margin-left: 1%;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      padding: 0;
      display: flex;
      align-items: center;
      .deliver-date-wrapper{
        width: 100%;
        .date-data {
          width: 100%;
          display: block;
        }
      }
    }
    .delivery-time {
      font-size: 18px;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
      background-color: lightgray;
      border: 2px solid #ccc;
      color: #666;
    }
    .active {
      background-color: white;
    }
    .selected {
      background-color: color($colors, secondary_dark, base);
      color: white;
      border:color($colors, secondary_dark, base) 2px solid!important;
      .button-option {
        color: white!important;
      }
    }
    .checkbox_icon {
      border: 1px solid #d9d9d9;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      float: left;
      font-size: 12px;
      margin: 5px 30px 10px 0;
      background: rgba(0, 0, 0, 0);
      ion-icon {
        animation: fadein .5s;
      }
    }
    .checkbox_active {
      background: color($colors, secondary, base);
      color: white;
      font-weight: bold;
    }
    .image-check {
      height: 20px;
      margin: 2px;
      width: auto;
      float: left;
    }
    .summary-data {
      padding: 0;
      padding-top: 16px;
      ion-row {
        margin-bottom: 16px;
      }
      .summary-values, {
        padding: 0 16px;
        label{
          font-weight: 600;   
          font-size: 14px;    
          color: #666;
          .register-bottom-label-blue{
            color: #54C5B4;
          }
        }
      }
    }
    .proceed {
      border-radius: 4px;
      text-align: center;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 600;
      ion-label{
        margin: 0;
      }
    }
    .title,
    .value {
      font-size: 14px;
      color: #333;
    }
    .value {
      text-align: right;
    }
    .discounts {
      border-bottom: 1px #C6C6C6 solid;
      .discounts-row {
        border-top: 1px #C6C6C6 solid;
        margin: 0px;
        .grid{
          padding: 0;
        }
      }
      .discount-header {
        margin-bottom: 0;
        padding: 15px;
        .discount-title {
          color: map-get($colors, secondary);
          font-size: 14px;
          padding: 0;
          font-weight: bold;
        }
        .toggle {
          color: map-get($colors, secondary);
          background: white;
          float: right;
        }
      }
      .discount-sub {
        animation: fadein 0.5s;
        margin-bottom: 0px;
        padding: 10px 16px 8px;
        border-top: solid 1px #C6C6C6;
        .discount-button {
          background-color: map-get($colors, secondary);
          color: white;
          height: 45px;
          width: 100%;
          text-transform: uppercase;
          border-radius: 4px;
          font-weight: 600;
        }
        @media screen and (max-width: 318px) {
          .discount-button {
            font-size: 10px;
          }
        }
        .discount-sub-item {
          border: 1px solid #cccccc;
          height: 45px;
          border-radius: 4px;
        }
      }
    }
  }
}
