<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title>checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="section address">
    <div class="section-title">
      1. Shipping Details
    </div>
    <div class="section-content">
      <ion-grid class='section-grid'>
        <ion-row class="section-row">
          <ion-row>
            <ion-label *ngIf='group_address.length>0'>
              Select your preferred shipping address
            </ion-label>
            <div class="loader">
              <div id="circularG" *ngIf='loaded_address==false'>
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
              </div>
            </div>
            <ion-list *ngIf='loaded_address==true' class="address_list">

              <div *ngFor='let address of group_address; let i = index;' [class]='address.class'>
                <div class="address_details" (click)='selectAddress(address,i)'>
                  <div class="detail subtitle">{{address.firstname+" "+address.lastname}}</div>
                  <div class="detail">{{address.street+", "+address.village+", "+address.city+", "+address.postcode}}</div>
                  <div class="detail">{{address.telephone}}</div>
                  <div class="detail">{{address.mobile}}</div>
                </div>
                <button class="button-option edit" (click)='editAddress(address,i)'>edit</button>
                <button class="button-option delete" (click)='deleteAddress(address,i)'>
                  <ion-icon name='ios-trash'></ion-icon>
                </button>
              </div>
            </ion-list>
          </ion-row>
          <!-- <button ion-item (click)='showAddress()'>
                {{showaddress_button}}
                <ion-icon [name]='address_view_drop'></ion-icon>
              </button> -->
          <button class='add-item-button' (click)='createAddress()'>
            <ion-icon name="ios-home" *ngIf='!newaddress'></ion-icon>
            <p>{{createaddress_button}}</p>
          </button>
        </ion-row>

      </ion-grid>
    </div>
  </div>
  <div class="section sched">
    <div class="section-title">
      2. Delivery Schedule
    </div>
    <div class="section-content">
      <div class="loader">
        <div id="circularG" *ngIf='slotsLoaded!=true'>
          <div id="circularG_1" class="circularG"></div>
          <div id="circularG_2" class="circularG"></div>
          <div id="circularG_3" class="circularG"></div>
          <div id="circularG_4" class="circularG"></div>
          <div id="circularG_5" class="circularG"></div>
          <div id="circularG_6" class="circularG"></div>
          <div id="circularG_7" class="circularG"></div>
          <div id="circularG_8" class="circularG"></div>
        </div>
      </div>
      <ion-grid class="section-grid" *ngIf='slotsLoaded==true'>

        <ion-row class="section-row">
          <ion-col col-12>
            <ion-label>
              Pick a date
            </ion-label>
          </ion-col>
          <ion-col *ngFor='let date of delivery_date| slice:1:6;  let i = index;' (click)='setDate(i,date.id)' class="input-text delivery-date"
            [class]='date.class'>
            <div class="deliver-date-wrapper">
              <span class="date-data">{{date.month}}</span>
              <span class="date-data">{{date.day}}</span>
              <span class="date-data">{{date.weekday}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='delivery_time.length>0'>
          <ion-col col-12>
            <ion-label>
              Pick a delivery time
            </ion-label>
          </ion-col>
          <ion-col col-12 *ngFor='let time of delivery_time; let i = index;' (click)='setTime(i,time.id)' [class]="time.class">
            <span class="date-data">{{time.time}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      3. Delivery Instructions
    </div>
    <div class="section-content">
      <ion-textarea type='text' class="instruction input-text" placeholder='Ex. For Meat - Please cut the meat into cubes'>
      </ion-textarea>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      4. Select Payment Options
    </div>
    <div class="section-content">
      <ion-list>
        <button ion-item (click)="updateCard(1)">
          <ion-label>
            <button class="checkbox_icon checkbox_active" *ngIf='paymaya_card'>
              <ion-icon name='md-checkmark'></ion-icon>
            </button>
            <button class="checkbox_icon" *ngIf='paymaya_card!=true'></button>
            <p class="label-check">PayMaya Card Payments</p>
            <img class="image-check" src="assets/img/paymaya-colored.png">
            <img class="image-check" src="assets/img/credit-card-payment.png">
          </ion-label>
        </button>
       <!--  <button disabled ion-item (click)="updateCard(2)">
          <ion-label>
            <button class="checkbox_icon checkbox_active" *ngIf='dragon_card'>
              <ion-icon name='md-checkmark'></ion-icon>
            </button>
            <button class="checkbox_icon" *ngIf='dragon_card!=true'></button>
            <p class="label-check">Debit Card Payments</p>
            <img class="image-check" src="assets/img/dragonpay.png">
          </ion-label>
        </button>
         -->
        <button ion-item (click)="updateCard(3)">
          <ion-label>
            <button class="checkbox_icon checkbox_active" *ngIf='paypal_card'>
              <ion-icon name='md-checkmark'></ion-icon>
            </button>
            <button class="checkbox_icon" *ngIf='paypal_card!=true'></button>
            <p class="label-check">PayPal Card Payments</p>
            <img class="image-check" src="assets/img/paypal.png">
            <img class="image-check" src="assets/img/credit-card-payment.png">
          </ion-label>
        </button>

        <button ion-item (click)="updateCard(4)" *ngIf='codcondition==true'>
          <ion-label>
            <button class="checkbox_icon checkbox_active" *ngIf='cod'>
              <ion-icon name='md-checkmark'></ion-icon>
            </button>
            <button class="checkbox_icon" *ngIf='cod!=true'></button>
            <p class="label-check">Cash On Delivery Payments</p>
            <img class="image-check" src="assets/img/cod-img.png">
          </ion-label>
        </button>
      </ion-list>

    </div>
  </div>
  <div class="section">
    <div class="section-title">
      Order Summary
    </div>
    <ion-grid class="summary-data">
      <ion-row class="summary-values">
        <ion-col col-6 class="title">
          Subtotal
        </ion-col>
        <ion-col col-6 class="value">
          ₱{{cartservice.numberWithCommas(cartservice.total)}}
        </ion-col>
        <ion-col col-6 class="title" *ngIf="paypal_charge>0">
            Paypal Charge
          </ion-col>
          <ion-col col-6 class="value" *ngIf="paypal_charge>0">
            ₱{{paypal_charge}}
          </ion-col>
        <ion-col col-6 class="title" *ngIf="discount_voucher.voucher_value>0">
          Discount
        </ion-col>
        <ion-col col-6 class="value" *ngIf="discount_voucher.voucher_value>0">
          -₱{{discount_voucher.voucher_value}}
        </ion-col>
        <ion-col col-6 class="title" *ngIf="discount_kredit.kredit_value>0">
          Kredit
        </ion-col>
        <ion-col col-6 class="value" *ngIf="discount_kredit.kredit_value>0">
          -₱{{discount_kredit.kredit_value}}
        </ion-col>
        <ion-col col-6 class="title">
          Grocer's fee
        </ion-col>
        <ion-col col-6 class="value">
          ₱{{cartservice.grocersfee}}
        </ion-col>
        <ion-col col-6 class="title" *ngIf='earnkredits>0'>
          You will earn
        </ion-col>
        <ion-col col-6 class="value" *ngIf='earnkredits>0'>
          {{earnkredits}} Kredit(s)
        </ion-col>
        <ion-col col-6 class="title">
          Grand Total (Tax Incl.)
        </ion-col>
        <ion-col col-6 class="value" *ngIf="paypal_charge<1">
            ₱{{cartservice.numberWithCommas(cartservice.computePrice(total_value,1))}}
          </ion-col>
        <ion-col col-6 class="value" *ngIf="paypal_charge>0">
          ₱{{cartservice.numberWithCommas(cartservice.computePriceWPaypal(total_value,1,paypal_charge))}}
        </ion-col>
        
      </ion-row>
      <ion-row class="discounts">
        <ion-row class="discounts-row">
          <ion-grid>
            <ion-row class="discount-header" (click)='voucher_toggle()'>
              <ion-col col-10 class="discount-title">
                Apply Voucher Code or Gift Code
              </ion-col>
              <ion-col col-2 class="discount-title">
                <button class="toggle">
                  <ion-icon name="ios-arrow-down" *ngIf='discount_voucher.voucher_show==false'></ion-icon>
                  <ion-icon name="ios-arrow-up" *ngIf='discount_voucher.voucher_show==true'></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="discount-sub" *ngIf='discount_voucher.voucher_show'>
              <ion-col col-6>
                <ion-input class="discount-sub-item" [(ngModel)]='discount_voucher.voucher_code' placeholder='Enter Discount Code'>
                </ion-input>
              </ion-col>
              <ion-col col-3>
                <button class="discount-button" (click)='useCoupon()'>
                  apply
                </button>
              </ion-col>
              <ion-col col-3>
                <button class="discount-button" (click)='cancelCoupon()'>
                  cancel
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row class="discounts-row">
          <ion-grid>
            <ion-row class="discount-header" (click)='kredit_toggle()'>
              <ion-col col-10 class="discount-title">
                Apply Kredits 
              </ion-col>
              <ion-col col-2 class="discount-title">
                <button class="toggle">
                  <ion-icon name="ios-arrow-down" *ngIf='discount_kredit.kredit_show==false'></ion-icon>
                  <ion-icon name="ios-arrow-up" *ngIf='discount_kredit.kredit_show==true'></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="discount-sub" *ngIf='discount_kredit.kredit_show'>
              <ion-col col-8>
                <ion-input class="discount-sub-item" placeholder='kredits' [(ngModel)]='kreditinput'>
                </ion-input>
              </ion-col>
              <ion-col col-4>
                <button class="discount-button" (click)='applykredit()'>
                  apply
                </button>
              </ion-col>
              <ion-col col-12>You have {{" "+userkredits}} Kredits</ion-col>
              <ion-col col-12>Each of 1 Kredit gets ₱1.00 discount</ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-row>

      <ion-row class="summary-values">
        <ion-col col-12>
          <label for="privacy_term">In case your item is not available, we will issue a refund via Kredits.</label>
        </ion-col>
        <ion-col col-12>
          <!-- * By confirming your order, you agree to the Terms and Conditions. -->
          <label for="privacy_term">By confirming your order, you agree to the
            <a (click)='openPrivacyPolicy()' class="register-bottom-label-blue">Privacy Policy</a>
            &amp;
            <a (click)='openTermsAndCondition()' class="register-bottom-label-blue">Terms and Conditions</a>
          </label>
        </ion-col>
        <ion-col col-12>
          <button (click)='proceed()' class="proceed" ion-item color=secondary>Confirm Checkout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
