<!--
  Generated template for the PrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header> 


<ion-content padding>
  <div class="std">
    <h1 class="cms-page-title">PRIVACY POLICY</h1>
    <p>Pushkart.ph is committed to protecting our visitors' and members' privacy. The following Privacy Policy outlines the
      information Pushkart.ph, (the "Company", "we", or "us") may collect and how we may use that information to better serve
      visitors and members while using our Web site <a href="http://www.pushkart.ph">www.pushkart.ph</a> and Mobile Application.</p>
    <p><strong> BY USING OUR WEBSITE AND MOBILE APPLICATION (COLLECTIVELY, THE "SERVICE"), YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY. Please review the following carefully so that you understand our privacy practices. </strong></p>
    <p>If you have questions about this Privacy Policy, please contact us at hello@pushkart.ph.</p>
    <h3 class="dark-heading">I. The Company</h3>
    <ol class="lower-alpha">
      <li>We are Kevi Krew, Inc., a corporation duly organized under the laws of the Philippines, trading as www.pushkart.ph
        (“PUSHKART.PH”), with office address at 1015 M.H. del Pilar, cor. T.M. Kalaw Street, Manila (the “Office”).</li>
      <li>Pushkart.ph is an online grocery delivery service, developed by a group of young Filipino millennials, that aims to
        ensure fast, convenient, and safe delivery of fresh groceries right at your doorstep.</li>
    </ol>
    <h3 class="dark-heading">II. Children Under the Age of 13</h3>
    <p>The Company cares about the safety of children. Because the Service is not directed toward kids, children under 13 are
      not allowed to register with or use the Service. We do not knowingly collect personal information from anyone under
      the age of 13. If we discover that we have collected personal information from a child under 13, we will delete that
      information immediately.</p>
    <h3 class="dark-heading">III. Information We Collect</h3>
    <p>3.1 Upon registration with the Service (either as a consumer, partner or driver), a user profile may be developed to
      further customize the user's experience. The current required data fields are:</p>
    <ul>
      <li>Name</li>
      <li>Email</li>
      <li>Password</li>
      <li>Mobile number</li>
      <li>Address (for delivery)</li>
      <li>Barangay</li>
      <li>Zip Code</li>
      <li>Credit Card Number</li>
      <li>Expiration date &amp; Security Code</li>
    </ul>
    <p>In addition, tracking information may be collected as you navigate through our website (the "Website") or use the Service,
      including, but not limited to geographic areas.</p>
    <p>3.2&nbsp;<span id="docs-internal-guid-0a5cf3c9-4d07-a8fd-2051-672294d3166e"><span>Our third-party card processing partner, PayMaya Business, through PayMaya Checkout will also collect a user’s Card Number, Expiration date &amp; Security Code to be able to facilitate payment of grocery orders. PayMaya Checkout employs world-class security standards (PCCI-DSS compliant) for card processing, to guarantee the security of a user’s card details.</span></span>
    </p>
    <p>3.3 We may also collect information on the groceries you are ordering from us, including type, service requested, brand,
      variants, and size.&nbsp; In addition, we may take photos of the groceries that were delivered to your doorstep.&nbsp;
      Our primary goal in collecting information is to provide you with an enhanced experience when using the Service.</p>
    <p>3.4 If you wish to apply for a job on our site we may collect personal information such as your name, email address,
      phone number and additional information such as resume, gender, and your ethnicity. We use the information collected
      within this area of the site to determine your qualifications for the position in which you have applied and to contact
      you to set up an interview.</p>
    <p>3.5 To help us serve your needs better, we may use "cookies" to store and sometimes track user information. A cookie
      is a small amount of data that is sent to your browser from a web server and stored on your computer's hard drive.
      Cookies can be disabled or controlled by setting a preference within your web browser.</p>
    <p>3.6 Users of the Website should be aware that non-personal information and data may be automatically collected by virtue
      of the standard operation of the Company's computer servers or through the use of "cookies". Cookies are files a website
      can use to recognize repeat users, and allow a website to track web usage behavior. Cookies take up minimal room on
      your computer and cannot damage your computer's files. Cookies work by assigning a number to the user that has no meaning
      outside of the assigning website. Users should be aware that the Company cannot control the use of cookies (or the
      resulting information) by third-parties. If you do not want information to be collected through the use of cookies,
      your browser allows you to deny or accept the use of cookies. There may, however, be some features of the Service which
      require the use of cookies in order to customize the delivery of information to you.</p>
    <p>3.7 The use of third party cookies is not covered by our privacy policy. We do not have access or control over these
      cookies.</p>
    <p dir="ltr"><span>3.8 We will be collecting your personal delivery address, to be able to properly fulfill your order. We will not share this information with third parties for any purpose and will only use this information for the sole purpose of fulfilling your request. You may at any time no longer allow our application to use your location by turning this off at the account level. Rest assured usage of your delivery address is user-initiated, and we will not be sending you marketing or sales related materials without your consent.</span></p>
    <p dir="ltr"><span>3.9 The use of third party cookies is not covered by our privacy policy. We do not have access or control over these cookies.</span></p>
    <h3 class="dark-heading">IV. How We Use Your Information</h3>
    <p>4.1 Our primary goal in collecting information is to provide you with an enhanced experience when using the Service.
      We use this information to closely monitor which features of the Service are used most, to allow you to view your order
      history, store your credit card information on a secure page, view any promotions we may currently be running, rate
      delivery personnel, and to determine which features we need to focus on improving, including usage patterns and geographic
      locations to determine where we should offer or focus services, features and/or resources, we use the mobile information
      collected so that we are able to serve you the correct app version depending on your device type, for troubleshooting
      and in some cases marketing purposes. We use the credit card information you provide us to bill you for services.</p>
    <p>4.2 The Company may use your Internet Protocol (IP) address to help diagnose problems with our computer server, and to
      administer the Website. Your IP address is used to help identify you, and to gather broad demographic data. Your IP
      address contains no personal information about you.</p>
    <h3 class="dark-heading">V. Service <span id="docs-internal-guid-0a5cf3c9-4d08-c87a-0afe-5adef9a45f65"><span>and promotion</span></span>-related
      Announcements</h3>
    <p>5.1 We will send you strictly service-related announcements on rare occasions when it is necessary to do so. For instance,
      if our service is temporarily suspended for maintenance, we might send you an email.</p>
    <p>5.2 Generally, you may not opt-out of these communications, which are not promotional in nature. If you do not wish to
      receive them, you have the option to deactivate your account.</p>
    <p><span id="docs-internal-guid-0a5cf3c9-4d08-f649-dad2-2028b633f4ee"><span>5.3 For promotion-related materials, rest assured we will only send messages when we believe an offer or announcement is important for you. You may opt-out of this service, by sending a message to hello@pushkart.ph</span></span>
    </p>
    <h3 class="dark-heading">VI. Customer Service</h3>
    <p>Based upon the personally identifiable information you provide us, we will send you a welcoming email and SMS message
      which we may use to verify your username, password, and mobile phone number. We will also communicate with you in response
      to your inquiries, to provide the services you request, and to manage your account. We will communicate with you by
      email, telephone, or SMS, in accordance with your wishes.</p>
    <h3 class="dark-heading">VII. Our Disclosure of Your Information</h3>
    <p>7.1 We do not sell, share, rent or trade your personal information or geo-location information other than as disclosed
      within this privacy policy.</p>
    <p>7.2 The Company may share aggregated information that includes non-identifying information and log data with third parties
      for industry analysis, demographic profiling and to deliver targeted advertising about other products and services.</p>
    <p>7.3 We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf,
      to process payment, provide customer support, provide geo-location information to our drivers, to host our job application
      form, to perform Website-related services (e.g., without limitation, maintenance services, database management, web
      analytics and improvement of the Website's features) or to assist us in analyzing how our Website and Service are used.
      These third parties have access to your personal information only to perform these tasks on our behalf and are obligated
      not to disclose or use it for any other purpose. We may also provide personal information to our business partners
      or other trusted entities for the purpose of providing you with information on goods or services we believe will be
      of interest to you. You can, at any time, opt out of receiving such communications by contacting those third parties
      directly.</p>
    <p>7.4 The Company cooperates with government and law enforcement officials and private parties to enforce and comply with
      the law. We will disclose any information about you to government or law enforcement officials or private parties as
      we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but
      not limited to subpoenas), to protect the property and rights of the Company or a third party, to protect the safety
      of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, an illegal,
      unethical or legally actionable activity.</p>
    <p>7.5 If we are involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via
      email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as
      well as any choices you may have regarding your personal information.</p>
    <p>7.6 We may use a third party hosting provider who may host our support section of the site. Information collected within
      this section of the site is governed by our privacy policy. Our third party service provider does not have access to
      this information.</p>
    <h3 class="dark-heading">VIII. Access to Personal Information</h3>
    <p>If your personal information changes, or if you no longer desire our service, you may correct, delete inaccuracies, or
      amend it by emailing us at <a>hello@pushkart.ph.</a> We will respond to your access request within 30 days.</p>
    <p>We will retain your information for as long as your account is active or as needed to provide you services. If you wish
      to cancel your account or request that we no longer use your information to provide you services contact us at <a>hello@pushkart.ph.</a>      We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce
      our agreements.</p>
    <h3 class="dark-heading">IX. Security</h3>
    <p>The personally identifiable and geo-location information we collect is securely stored within our database, and we use
      standard, industry-wide, commercially reasonable security practices such as encryption, firewalls and SSL (Secure Socket
      Layers) for protecting your information (credit card number and geo-location information). However, as effective as
      encryption technology is, no security system is impenetrable. We cannot guarantee the security of our database, nor
      can we guarantee that information you supply won't be intercepted while being transmitted to us over the Internet,
      and any information you transmit to the Company you do at your own risk. We recommend that you not disclose your password
      to anyone.</p>
    <h3 class="dark-heading">X. Referral Service</h3>
    <p>If you choose to use our referral service to tell a friend about our site or a job position, we will ask you for your
      friend's name and email address. We will send your friend a one-time email inviting him or her to sign-up for Pushkart.ph's
      service or visit the site. We store this information for the sole purpose of sending this one-time email and tracking
      the success of our referral program.</p>
    <p>Your friend may contact us at hello@pushkart.ph to request that we remove this information from our database.</p>
    <h3 class="dark-heading">XI. Social Media (Features) and Widgets</h3>
    <p>Our Web site may include Social Media Features, such as the Facebook Like button and Widgets, such as the Share this
      button or interactive mini-programs that run on our site. These Features may collect your IP address, which page you
      are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features and
      Widgets are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are
      governed by the privacy policy of the company providing it.</p>
    <h3 class="dark-heading">XII. Public Forums</h3>
    <p>Our Web site may offer publicly accessible blogs or community forums. You should be aware that any information you provide
      in these areas may be read, collected, and used by others who access them. To request removal of your personal information
      from our blog or community forum, contact us at hello@pushkart.ph. In some cases, we may not be able to remove your
      personal information, in which case we will let you know if we are unable to do so and why.</p>
    <h3 class="dark-heading">XIII. Changes in this Privacy Policy</h3>
    <p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes,
      we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this
      Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information
      on our privacy practices.</p>
  </div>
</ion-content>
