page-privacy-policy {
  
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  .std{
      padding-top: 50px;
      font-size: 16px;
      color: #333;
      padding: 0 10px;
      p, li{
          text-align: justify;
      }
  }
  ion-header {
    background: color($colors, primary, base);
  }
  .back-button {
    color: white;
    display: block!important;
    margin-right: 0;
  }
  .scroll-content{
    background-color: white;
  }
  .cms-page-title{
    color: color($colors,primary,base);
    text-align: center;
    text-transform: none;
    margin: 30px !important;
    font-size: 22px;
    font-weight: bold;
  }
}
