<!-- 
  Generated template for the SearchPage page. 
 
  See http://ionicframework.com/docs/components/#navigation for more info on 
  Ionic pages and navigation. 
-->
<ion-header>
    <ion-navbar color=primary>
      <button ion-button class="menu-button" (click)="openMenu('main')" >
            <!-- <ion-icon name="menu"></ion-icon> -->
            <img src="assets/img/pk-bars.png">
          </button>
      <ion-title class="header-title">
        <img src="assets/img/logo.webp">
      </ion-title>
      <!-- <button ion-button class="search-button" (click)='back()'> 
        <ion-icon name="close"></ion-icon> 
      </button> -->
      <button ion-button class="cart-button" (click)='openMenu(kart)' >
          <img src="assets/img/pk-logo-cart.png">
          <ion-badge assertive item-end *ngIf='cartservice.cart_count>0'><span>{{cartservice.cart_count}}</span></ion-badge>
          <!-- <p class="cart-count" *ngIf='cartservice.cart_count>0'>{{cartservice.cart_count}}</p> -->
        </button>
      
  
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <div id='form-search'>
      <ion-searchbar placeholder='search' (ionInput)='searchFilter($event)'>
      </ion-searchbar>
      <div class="search-filter" *ngIf='showFilter==true'>
        <ion-grid class="search-grid">
          <ion-row class="search-row" *ngFor='let value of product_filter; let i=index'>
            <!-- <div *ngIf='i<12'> -->
            <ion-col class="product-name" col-3>
              <img [src]="'https://cdn.pushkart.ph/media/catalog/product/cache/1/small_image/195x195/9df78eab33525d08d6e5fb8d27136e95/'+value.small_image"
                onError="this.src='assets/img/image-not-available_1.webp'">
            </ion-col>
            <ion-col class="product-desc" col-9>
              <div class="item-name">
                {{value.name}}
              </div>
              <div class="item-price">
                <p>₱{{cartservice.computePrice(value.price,1)}}</p>
                <p class='weight' *ngIf='value.weight>0'>
                  /{{cartservice.computeWeight(value.weight)+' '+value.weight_unit}}
                </p>
              </div>
  
            </ion-col>
            <!-- <div class='qty-container-parent'>
              <div class='qty-container'>
                <button class='addtocart' *ngIf='cartservice.cart[value.entity_id].qty<1' (click)='cartservice.addItemProduct(value)'>add to cart</button>
                <button *ngIf='cartservice.cart[value.entity_id].qty>0' class="minus button" (click)='cartservice.decreaseQty(value)'>-</button>
                <button *ngIf='cartservice.cart[value.entity_id].qty>0' class="qty" (click)='cartservice.addItemProduct(value)'>{{cartservice.cart[value.entity_id].qty}}</button>
                <button *ngIf='cartservice.cart[value.entity_id].qty>0' class="add button" (click)='cartservice.addItemProduct(value)'>+</button>
              </div>
            </div> -->
  
            <div class="product-item-qty">
              
              <div *ngIf='cartservice.cart[value.entity_id].qty<1'>
                <a class='addtocart' *ngIf='value.stock_item>0' (click)='increaseQty(value)'>add to cart</a>
                <a class='addtocart not-active' *ngIf='value.stock_item<=0'>unavailable</a>
              </div>
              <div *ngIf='cartservice.cart[value.entity_id].qty>0'>
                <a class="minus button" (click)='decreaseQty(value)'>-</a>
                <a class="qty" (click)='increaseQty(value)'>{{cartservice.cart[value.entity_id].qty}}</a>
                <a class="add button" *ngIf='cartservice.cart[value.entity_id].qty<value.stock_item' (click)='increaseQty(value)'>+</a>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
  