page-search {
    .content{
        background: #fff;
        .search-button{
            margin-top: 10px;
        }
        #form-search .searchbar-input{
            border-radius: 4px;
        }
        .search-grid{
            .search-row{
                background: white;
                margin-bottom: 10px;
                border-radius: 4px;
                .product-desc{
                    
                    .item-name{
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                    .item-price{
                        margin-top: 8px;
                        width: 150px;
                        color: color($colors,primary,base);
                        p{
                            float: left;
                            margin: 0 6px 0 0;
                            color: #333;
                            font-weight: bold;
                        }
                        .weight{
                            color: #666;
                        }
                    }
                
                }
                .product-item-qty{
                    width: 120px;
                    height: 40px;
                    margin-bottom: 16px;
                    background: color($colors,secondary,base);
                    color: white;
                    margin-left: 26%;
                    text-align: center;
                    border-radius: 4px;
                    div{
                        padding-top: 10px;
                        color: white;
                        height: 100%;
                        .addtocart{
                            background: rgba(0,0,0,0);
                            text-transform: uppercase;
                            font-weight: bold;
                            color: white;
                            height: 100%;
                            font-size: 10px;
                        }
                        .not-active{
                            color: #e2e2e2;
                        }
                        .minus,.qty,.add{
                            font-weight: bold;
                            background: rgba(0,0,0,0);
                            color: white;
                            width: 33%;
                            height: 100%;
                            float: left;
                            margin-right: 0px;
                        }
                    }
                }
                
            }
        }
    }
}
