<ion-tabs>
    <ion-tab [root]="homeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="searchRoot" tabTitle="Search" tabIcon="search"></ion-tab>
    <ion-tab [root]="needHelpRoot" tabTitle="Need help" tabIcon="help"></ion-tab>
    <ion-tab [root]="myListRoot" tabTitle="My list" tabIcon="list"></ion-tab>
    <ion-tab [root]="myAccountRoot" tabTitle="My account" tabIcon="contact"></ion-tab>
</ion-tabs>
