<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="arrow-round-back" navPop color=light></ion-icon> Personal Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>

