page-personalinfo {
    ion-header{
        background: color($colors,primary,base);
        ion-icon {
            padding-right: 10px;
        }
    }
    .content {
        background: #fff;
    }
}
