<ion-header>
  <ion-navbar color=primary>
    <button ion-button class="menu-button" (click)="openMenu('main')" >
          <img src="assets/img/pk-bars.png">
        </button>
    <ion-title class="header-title">
      My Account
    </ion-title>
    <button ion-button class="cart-button" (click)='openMenu(kart)' >
      <img src="assets/img/pk-logo-cart.png">
      <ion-badge assertive item-end *ngIf='cartservice.cart_count>0'><span>{{cartservice.cart_count}}</span></ion-badge>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item class="with-avatar">
        <ion-avatar item-start>
          <img src="assets/img/avatar.png">
        </ion-avatar>
        <h2>Hello, <span class="name">{{userService.user_data.firstname}}</span>,</h2>
        <p>You have <span class="kredits">{{" "+userkredits}}</span> kredits in your Account</p>
      </ion-item>
    </ion-list>
    <button ion-item class="orders" [navPush]="'OrderhistoryPage'" [navParams]="params"><div class="icon-wrap"><img src="assets/img/cart-colored.png"></div>My Orders<ion-badge item-end *ngIf='this.in_progress_count>0'>{{ this.in_progress_count }}</ion-badge></button>
    <ion-list>
      <ion-list-header>
        Account Settings
      </ion-list-header>
      <button ion-item icon-right [navPush]="'PersonalinfoPage'"><div class="icon-wrap"><img src="assets/img/contact-colored.png"></div>Personal Information<ion-icon name="arrow-round-forward"></ion-icon></button>
      <button ion-item icon-right [navPush]="'MyaddressPage'"><div class="icon-wrap"><img src="assets/img/map-colored.png"></div>My Address<ion-icon name="arrow-round-forward"></ion-icon></button>
      <button ion-item icon-right [navPush]="'ChangepassPage'"><div class="icon-wrap"><img src="assets/img/lock-colored.png"></div>Change Password<ion-icon name="arrow-round-forward"></ion-icon></button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        About Pushkart
      </ion-list-header>
      <a ion-item no-lines (click)='openAboutUs()'>About Us</a>
      <a ion-item no-lines (click)='openFaq()'>Help Center</a>
      <a ion-item no-lines (click)='openPrivacyPolicy()'>Privacy Policy</a>
      <a ion-item no-lines [navPush]="'TermsandconditionsPage'">Terms &amp; Conditions</a>
    </ion-list>
    <a ion-item class="logout" (click)='openLogout()'>Logout</a>
</ion-content>