page-my-account {
    .content {
        background: #fff;
        .list-md {
            margin: 0;
            margin-bottom: 16px;
        }
        .item-md {
            padding: 0;
            ion-avatar {
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .item-md.with-avatar {
            color: #5f5f5f;
            p {
                font-weight: 600;
            }
            span.name {
                color: #1c1c1c;
                font-weight: 600;
            }
            span.kredits {
                color: #e7474a;
            }
        }
        ion-list:first-child {
            margin-bottom: 10px;
        }
        ion-list {
            .list-header-md {
                border-bottom: 1px solid #dedede;
                margin-bottom: 0;
                min-height: auto;
                .label-md {
                    color: #848484;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 13px 0;
                }
            }
            a {
                color: rgb(28, 187, 180);
                font-weight: 600;
                transition: none;
            }
        }
        a.logout {
            font-weight: 600;
            color: #f55246;
            border-top: 1px solid #dedede;
            padding-top: 5px;
            .item-inner {
                border: none !important;
            }
        }
        button.orders {
            border: none !important;
            .item-inner {
                border: none !important;
            }
        }
        button {
            .label-md {
                display: flex;
                font-weight: 600;
                color: #5f5f5f;
                .icon-wrap {
                    width: 40px;
                    display: inline-flex;
                    margin: 0 10px;
                    img {
                        width: 20px;
                        height: 20px;
                        margin: auto;
                    }
                }
            }
            ion-badge {
                border-radius: 10px;
                padding: 3px 12px;
            }
            ion-icon {
                position: absolute;
                right: 15px;
                line-height: unset;
                color: #9f9f9f;
            }
        }
    }
}
