page-termsandconditions {
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  ion-header{
    background: color($colors,primary,base);
  }
  .back-button{
      color: white;
      display: block!important;
      margin-right: 0;
  }
  ion-content{
    background: white;
  }
  .scroll-content{
    background: white;
  }
  .std{
    text-align: justify;
  }
  .cms-page-title{
    color: color($colors,primary,base);
    text-align: center;
    text-transform: none;
    margin: 30px !important;
    font-size: 22px;
    font-weight: bold;
  }
}
