<!--
  Generated template for the TermsandconditionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="std">
    <h1 class="cms-page-title">TERMS AND CONDITIONS</h1>
    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY ACCESSING OR USING PUSHKART.PH, INC. APPLICATIONS OR ANY SERVICES PROVIDED
      BY US, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND CONDITIONS, DO
      NOT ACCESS OR USE PUSHKART.PH, INC. APPLICATIONS OR ANY SERVICES PROVIDED BY US.</p>
    <h3 class="dark-heading">I. The Company</h3>
    <p>We are Kevi Krew, Inc., a corporation duly organized under the laws of the Philippines, trading as www.pushkart.ph (“PUSHKART.PH”),
      with office address at 1015 M.H. del Pilar, cor. T.M. Kalaw Street, Manila (the “Office”).</p>
    <h3 class="dark-heading">II. Definition of Terms</h3>
    <ol class="lower-alpha">
      <li><strong>“Account”</strong> means the PUSHKART.PH Account that you will need to register for on the Site in the event
        that you would place an Order on the Site.</li>
      <li><strong>“Business Day”</strong> means any day on which banks in the Philippines are open for business, which is neither
        (i) a Saturday or Sunday, nor (ii) a public holiday anywhere in the Philippines.</li>
      <li><strong>“Clauses”</strong> refer to clauses of these Terms and Conditions.</li>
      <li><strong>“Contract”</strong> means your Order of a Product or Products in accordance with these Terms and Conditions
        which you accept in accordance with clause 6.2 below.</li>
      <li><strong>“Customer”</strong> means any individual who places an Order on the Site.</li>
      <li><strong>“Includes”</strong> or <strong>“including”</strong> or like words or expressions shall mean without limitation.</li>
      <li><strong>“Order”</strong> means the Order submitted by you to the Site to purchase a Product from us.</li>
      <li><strong>”Order Confirmation”</strong> means our email to you, in which we acknowledge your Order in accordance with
        clause 6.2 below.</li>
      <li><strong>“Products”</strong> refer to any of the goods being sold on the Site.</li>
      <li><strong>“Site”</strong> means www.pushkart.ph.</li>
      <li><strong>“We”</strong> or <strong>“us”</strong> refers to PUSHKART.PH.</li>
      <li><strong>“You”</strong> means the Customer who places an Order.</li>
    </ol>
    <h3 class="dark-heading">III. Legal Requirement</h3>
    <p>To place an Order with PUSHKART.PH, you must be over eighteen (18) years of age. If you are under eighteen (18), you
      may place an Order with PUSHKART.PH only with the involvement of a parent or guardian.</p>
    <h3 class="dark-heading">IV. Prohibitions</h3>
    <p>You must not misuse this Site by committing or encouraging a criminal offense, by transmitting or distributing a virus
      including but not limited to Trojan horse, worm, and similar viruses or by posting any other material on the Site which
      is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; or by hacking into
      any aspect of the service; by corrupting data; by causing annoyance to other users; by infringing upon the rights of
      any other person’s propriety rights; by sending any unsolicited advertising or promotional material; or by attempting
      to affect the performance or functionality of any computer facilities of or accessed throughout the Site. In the event
      such breach occurs, PUSHKART.PH will block your access to the Site and report the breach to the relevant law enforcement
      authorities and appropriate legal action will be taken.</p>
    <h3 class="dark-heading">V. Entire Agreement</h3>
    <p>5.1 These Terms and Conditions shall apply to all Orders and Contracts made or to be made by us for the sale and supply
      of Products. These Terms and Conditions constitute the entire agreement between you and PUSHKART.PH and supersede any
      and all preceding and contemporaneous agreements between you and PUSHKART.PH. Any waiver of any provision of the Terms
      and Conditions will be effective only if in writing and signed by an authorized signatory of PUSHKART.PH.</p>
    <p>5.2 You acknowledge that, in entering into this Contract, you did not rely on any representation, undertaking or promise
      given by the PUSHKART.PH or implied from anything said or written between you and PUSHKART.PH prior to such Terms and
      Conditions, except as expressly stated in these Terms and Conditions.</p>
    <h3 class="dark-heading">VI. Terms of the Sale</h3>
    <p class="text-subheading">6.1 Registration</p>
    <ol class="lower-alpha">
      <li>To place an Order, you must register with us by creating an Account on the Site. You must only submit to us information
        which is accurate and true. You must also keep your information up to date by informing us of any changes, by using
        the relevant sections of the Site.</li>
      <li>You shall not misuse the Site by creating multiple user accounts.</li>
      <li>A username and password may be selected for the privacy and security of your account. We recommend you not to share
        your user credentials with anyone.</li>
      <li>An order can only be executed using your user credentials, after confirmation of your registration using your indicated
        e-mail address.</li>
    </ol>
    <p class="text-subheading">6.2 Formation of a Contract</p>
    <ol class="lower-alpha">
      <li>The information set out in the Terms and Conditions and the details contained on this Site do not constitute an offer
        for sale but rather an invitation to make an offer. No Contract in respect of any Products shall exist between you
        and us until we have shipped the Products to your address.</li>
      <li>To submit an Order, you will be required to follow the online shopping process on the Site. After this you will receive
        an Order Confirmation which will act as an acknowledgement of your Order.</li>
      <li>An Order is only considered accepted by us upon your Order being shipped to the delivery address you provided or once
        payment for your Order has been confirmed by us.</li>
      <li>A Contract will relate only to those Products which we have shipped or delivered to you. If your Order consists of
        more than one Product, the Products may be delivered to you in separate packages at separate times.</li>
    </ol>
    <p class="text-subheading">6.3 Price and Payment</p>
    <p>While we make every effort to ensure that all details, descriptions and prices which appear on this Site are accurate,
      there may be instances where errors may occur. If we discover an error in the price of any Products which you have
      ordered we will inform you of this as soon as possible and give you the option of reconfirming your Order at the correct
      price or cancelling it. If we are unable to contact you, we will treat the Order as cancelled. If you cancel your Order
      before we have shipped it to you, and you have already paid for your Order, you will receive a full refund through
      store credit.</p>
    <ol class="lower-alpha">
      <li>Prices are inclusive of VAT and are in Philippine Peso. Grocer’s Fee will be charged in addition where applicable;
        such additional charges are clearly displayed and included in the ‘Final Total’.</li>
      <li>The applicable Grocer’s Fee will apply for the ff. order subtotals:
        <ul>
          <li>PHP 1,999.99 or less = PHP 199 Grocer’s fee</li>
          <li>PHP 2,000 to PHP 4,999.99 = PHP 49 Grocer’s fee</li>
          <li>PHP 5,000 and above = Free/Waived Grocer’s fee</li>
        </ul>
      </li>
      <li>We are under no obligation to fulfil your Order if the price listed on the website is incorrect, even after you receive
        an Order Confirmation from us.</li>
      <li>Currently, you can pay using any Visa or Mastercard credit, debit or prepaid cards through the integrated PayMaya Checkout
        payment system. Similarly you can pay all or part of the price of your Order using your store credit or a promotional
        voucher.</li>
      <li>Upon authorization of the payment, by clicking the “Order now” button you are confirming that the Visa or Mastercard
        credit, debit or prepaid cards you are using belongs to you or that you are the legitimate holder of the promotional
        voucher, and have sufficient funds or credit facilities to cover the cost of the Product and delivery.</li>
      <li>Pushkart.ph may use a third-party payment processor (the “Payment Processor”) to link your Visa or Mastercard credit,
        debit or prepaid cards account to the Application and Service. The processing of payments or credits, as applicable,
        in connection with your use of the Website, Application and Service will be subject to the terms, conditions and
        privacy policies of the Payment Processor and your credit card issuer in addition to these User Terms. Pushkart.ph
        is not responsible for any errors by the Payment Processor. In connection with your use of the Services, Pushkart.ph
        will obtain certain transaction details, which Pushkart.ph will use solely in accordance with its Privacy Policy.</li>
    </ol>
    <p class="text-subheading">6.4&nbsp;<span id="docs-internal-guid-d60218ce-4cfd-e2ca-6ca7-4136441ddb64"><span>Product Returns</span></span>
    </p>
    <p dir="ltr"><span>Pushkart.ph properly trains grocers to select the best possible goods, for customers. At this time item returns will not be processed after the delivery has been completed. If it occurs that Pushkart.ph made a mistake in any item delivered to you, please notify the grocer so the support team will coordinate with you for delivery of the proper items.</span></p>
    <p class="text-subheading">6.5 Refusal of Order</p>
    <p>We reserve the right to withdraw any Products from this Site at any time and/or remove or edit any materials or content
      on this Site. We will make our best efforts to always process all Orders but there may be exceptional circumstances
      wherein we may need to refuse to process an Order after we have sent you an Order Confirmation, which we reserve the
      right to do at any time, at our sole discretion.</p>
    <p>If we cancel your Order and you have already made payment for your Order, your payment will be fully refunded to you
      through store credit.</p>
    <p>We will not be liable to you or any other third party by reason of our withdrawal of any Product from this Site, whether
      it has been sold or not, removal or revision of any of the materials or contents on this Site or refusal to process
      or accept an Order.</p>
    <h3 class="dark-heading">VII. Delivery</h3>
    <p>7.1 We aim to deliver the Product to you at the place of delivery requested by you in your Order and within the delivery
      period indicated by us in the Order Confirmation.</p>
    <p>7.2 We will do our best to ensure we provide you all your ordered goods, within the stock inventory of our store partners.
      If the occasion arrives that one of your paid/ordered products is not available, we will automatically provide you
      a refund via your MyKredits, which is applicable for your next order.</p>
    <p>7.3 Upon delivery of the Product, you may be required to sign for delivery. You may contact&nbsp;hello@pushkart.ph or
      (Telephone number) in case of any faults, defects or damage to the Product upon delivery and you shall be required
      to provide the documents delivered with the Product as well as other details of the Order.</p>
    <p>7.4 Please note that it might not be possible for us to deliver to some locations in which event, we will inform you
      using the contact details that you have provided us and arrange for either the cancellation of your Order or its delivery
      to an alternative delivery address which you will provide.</p>
    <p>7.5 We shall deliver your Order in our standard packaging.</p>
    <p>7.6 All risk in the Product shall pass to you upon delivery, except that, where delivery is delayed due to any breach
      of your obligations under Contract (see 7.8 below), risk shall pass at the date when delivery would have occurred if
      not for your breach. From the time the risk passes to you, we will not be liable for loss or destruction of the Product.
      Any breach of obligations by you, might impact your ability to shop on the Site in the future.</p>
    <p>7.7 If you are not available to receive the delivery, we may leave a card or send you an email with instructions on the
      re-delivery of your Order.</p>
    <p>7.8 If delivery is delayed through your unreasonable refusal to accept delivery or if you do not (within two weeks of
      our first attempt to deliver the Product to you) accept delivery, we may, without having to effect any other right
      or remedy available to us, do <strong><span style="text-decoration: underline;">either or both</span></strong> of the
      following:</p>
    <ol class="lower-alpha">
      <li>charge you for any fee and other costs reasonably incurred by us; or</li>
      <li>no longer make the Product available for delivery or collection and notify you that we are immediately cancelling the
        applicable Contract, in which case we will refund to you or your Visa or Mastercard credit, debit or prepaid card
        company or through store credit, as may be applicable, any money already paid to us under the Contract, less our
        reasonable administration charges which includes the attempt to deliver and the return of the Product, and any other
        fees and costs we may incur.</li>
    </ol>
    <p>7.9 We shall notify you if we expect that we will be unable to meet our estimated delivery period, but, except to the
      extent mandated by law, we shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses
      arising out of late delivery.</p>
    <p>You acknowledge that the Products are standard and not made to fit any particular requirements that you may have.</p>
    <h3 class="dark-heading">VIII. Cancellation by the Customer Before Delivery</h3>
    <p dir="ltr"><span>If you wish to cancel your Order before we have sent you the Order Confirmation or before the Order has been dispatched, please contact our Customer Service Team on hello@pushkart.ph No cancellation fees shall be applicable 4 hours before the confirmed delivery time. However, once the Order has been dispatched it may not be cancelled.</span></p>
    <p dir="ltr"><span>If a rescheduling is needed, you may message us at </span><span>hello@pushkart.ph</span><span> 4 hours before the confirmed delivery time and we will assist you as best as we can. No penalties, just appreciation for giving us the heads up!</span></p>
    <h3 class="dark-heading">IX.&nbsp;<span id="docs-internal-guid-ea410115-4d01-4c2c-abbb-adb405dc28de"><span>Personal data protection</span></span>
    </h3>
    <p><span id="docs-internal-guid-ea410115-4d01-6647-bdbf-8c412cbba311"><span>Please see our </span><a href="https://v3.pushkart.ph/dev3/privacy-policy"><span>Privacy Policy</span></a><span>.</span></span>
    </p>
    <h3 class="dark-heading">X. Vouchers</h3>
    <p>10.1 You may use promotional vouchers as payment for Products on the Site. Specific details for promotional vouchers
      are listed below.</p>
    <p>10.2 To redeem vouchers in your Account or check an existing credit, please visit "My Account" on the Site. Subject to
      clause 14.1, we accept no Liability for errors in the email address of the voucher recipient.</p>
    <p>10.3 Vouchers assigned to you are non-transferrable.</p>
    <p>10.4 In the event of fraud, an attempt at deception or in the event of suspicion of other illegal activities in connection
      with the redemption of your voucher on the Site, we are entitled to close your Account and/or require a different means
      of payment.</p>
    <p>10.5 We assume no Liability for the loss, theft or illegibility of promotional vouchers.</p>
    <p>10.6 In rare cases, PUSHKART.PH may at its sole discretion discontinue or cancel any voucher previously issued and will
      not be responsible for any losses arising therefrom.</p>
    <p>10.7 Conditions for the redemption of promotional vouchers:</p>
    <p>From time to time we may distribute promotional vouchers that may be used only on the Site, which we will send to you
      either by email or post:</p>
    <ol class="lower-alpha">
      <li>Promotional vouchers are valid for the specified period stated on the voucher, can only be redeemed once and may not
        be used in conjunction with other promotional vouchers and discounted items. We may exclude individual brands from
        voucher promotions in accordance with our sales strategies.</li>
      <li>If you place an Order for a Product less than the value of the promotional voucher, no refund or residual credit will
        be returned to you.</li>
      <li>The credit of a promotional voucher does not accrue interest nor does it have a cash value.</li>
      <li>If the credit of a promotional voucher is insufficient for the Order you wish to place, you may make up the difference
        using one of our accepted payment methods.</li>
    </ol>
    <h3 class="dark-heading">XI. Refer Friends Program</h3>
    <p>With the refer friends or “refer a friend” program, users can get PHP 50.00 for every new user referred. The referring
      user will share his/her referral code to the new user, wherein the new user will receive PHP 50.00 in his MyKredits
      immediately upon registering using the said referral code. The referring user will then receive PHP 50.00 in his MyKredits
      once the new user successfully performs his/her first order through Pushkart.ph.</p>
    <p>The MyKredits credited can be used for purchases in Pushkart.ph, and are not transferrable or convertible to cash.</p>
    <h3 class="dark-heading">XII. Disclaimer of Liability</h3>
    <p>11.1 The content displayed on this Site is provided without any guarantees, conditions or warranties as to its accuracy.
      Unless expressly stated to the contrary and to the fullest extent permitted by law, PUSHKART.PH and its suppliers,
      content providers and advertisers hereby expressly exclude all conditions, warranties and other terms which might otherwise
      be implied by statute, common law or the law of equity and shall not be liable for any damages whatsoever, including
      but without limitation to any direct, indirect, special, consequential, punitive or incidental damages, or damages
      for loss of use, profits, data or other intangibles, damage to goodwill or reputation, or the cost of procurement of
      substitute goods and services, arising out of or related to the use, inability to use, performance or failures of this
      Site and any materials posted thereon, irrespective of whether such damages were foreseeable or arise in contract,
      tort, equity, restitution, by statute, at common law or otherwise.</p>
    <h3 class="dark-heading">XIII. Indemnity</h3>
    <p>You agree to indemnify, defend, and hold harmless PUSHKART.PH, its directors, officers, employees, consultants, agents,
      and affiliates, from any and all third party claims, liability, damages and/or costs (including but not limited to,
      legal fees) arising from your use of this Site or your breach of the Terms and Conditions.</p>
    <h3 class="dark-heading">XIV. Cooperation</h3>
    <p>13.1 PUSHKART.PH shall perform its obligations under these Terms and Conditions with reasonable skills and care.</p>
    <p>13.2 We place great value on our Customer satisfaction. You may contact us at any time through hello@pushkart.ph. We
      will attempt to address your concerns as soon as possible and will contact you on receipt of any relevant enquiry or
      complaint. In guarantee cases, the manufacturer frequently must be involved, and as such it may take longer to resolve
      such inquiries or complaints.</p>
    <p>13.3 In the event of a complaint it will help us if you can describe the object of your complaint as accurately as possible
      and, where applicable, send us copies of the Order or at least the Order number that we assigned to you in the Order
      Confirmation. In rare cases your emails may be caught up in our spam filters or not reach us, or correspondence that
      we send to you may otherwise not have reached you. Should you not have received any response from us within five (5)
      Business Days, please make further enquiries through support@pushkart.ph.</p>
    <h3 class="dark-heading">XV. Circumstances beyond our control (force majeure)</h3>
    <p>14.1 We shall not be liable to you for any breach, hindrance or delay in the performance of a Contract attributable to
      any cause beyond our reasonable control, including without limitation:</p>
    <ol class="lower-alpha">
      <li>Strikes, lock-outs or other industrial action;</li>
      <li>Civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat
        or preparation for war;</li>
      <li>Fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster;</li>
      <li>Impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport;
        and</li>
      <li>Impossibility of the use of public or private telecommunications networks.</li>
    </ol>
    <p>14.2 In the circumstance that the Force Majeure event lasts for more than one week, you may terminate the Contract forthwith
      by written notice and without any Liability on our part other than a refund through store credit of the Order already
      paid for by you and not delivered. We also have the option of terminating the Contract, by sending a written notice
      to you, and by giving you a full refund through store credit of your Order which you have already paid for and which
      was not delivered to you.</p>
    <p>14.3 If we have contracted to provide identical or similar Products to more than one Customer and are prevented from
      fully meeting our obligations to you by reason of a Force Majeure event, we may decide at our absolute discretion which
      Contracts we will perform and to what extent.</p>
    <p>14.4 We reserve absolute discretion on the solution we adopt in fully meeting our obligations under the Contract despite
      the Force Majeure Event.</p>
    <h3 class="dark-heading">XVI. Notices</h3>
    <p>We reserve the right to amend these Terms and Conditions at any time. All amendments to these Terms and Conditions will
      be posted online. However, continued use of the Site will be deemed to constitute acceptance of the new Terms and Conditions.</p>
    <p>Any notice under a Contract shall be given in writing through either letter or email to the relevant party at the address
      or email address last known to the other.</p>
    <ol class="lower-alpha">
      <li>Notices given by post shall be deemed to have been served within two Business Days from the time the notice was sent
        out to the recipient’s address.</li>
      <li>Any notice given by email shall be deemed to have been served within two (2) Business Days of the email being sent.</li>
    </ol>
    <p>In proving such service, it shall be sufficient to prove that the letter or email was properly addressed and, as the
      case may be, posted as a prepaid or recorded delivery letter or a dispatch or a delivery report was received.</p>
    <p>15.1 All content included in or made available through our Site, such as text, graphics, logos, button icons, images,
      audio clips, digital downloads, campaign titles and data compilations is the property of PUSHKART.PH or its content
      suppliers and is protected by copyright laws. All such rights are reserved by PUSHKART.PH and its licensors. You may
      store, print and display the content supplied solely for your own personal use. You are not permitted to publish, manipulate,
      distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which
      appears on this Website nor may you use any such content in connection with any business or commercial enterprise.</p>
    <p>15.2 In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made available
      through the Site are trademarks of PUSHKART.PH and may not be used in connection with any product or service that is
      not provided by PUSHKART.PH, in any manner that is likely to cause confusion among customers, or in any manner that
      disparages or discredits PUSHKART.PH. All other trademarks not owned by PUSHKART.PH that appear on the Site are the
      property of their respective owners.</p>
    <p>15.3 Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.</p>
    <p>15.4 You must not use any part of the content on our site for commercial purposes without obtaining a license to do so
      from us or our licensors. In the event PUSHKART.PH becomes aware of any infringement of its intellectual property rights,
      it shall not refrain from taking any relevant legal action.</p>
    <p>15.5 If you print, copy or download any part of our Site in breach of these Terms and Conditions, your right to use our
      Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
      You shall not modify, translate, reverse engineer, decompile, disassemble or create derivative works based on any software
      or accompanying documentation supplied by PUSHKART.PH or its licensors.</p>
    <h3 class="dark-heading">XVII. Links to the site</h3>
    <p>You may link to our home page, provided you do so in a way that is legal and is not likely to damage our reputation or
      take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval
      or endorsement on our part where none exists.</p>
    <h3 class="dark-heading">XVIII. Waiver</h3>
    <p>No failure or delay by us or you in exercising any right under these Terms and Conditions or a Contract shall operate
      as a waiver of such right or extend to or affect any other or subsequent event or impair any rights or remedies in
      respect of it or in any way modify or diminish our or your rights under these Terms and Conditions.</p>
    <h3 class="dark-heading">XIX. Severability</h3>
    <p>If any clause in these Terms and Conditions shall become or shall be declared by any court of competent jurisdiction
      to be invalid or unenforceable, such invalidity or unenforceability shall in no way affect any other clause or part
      of any clause, all of which shall remain in full force and effect, so long as these Terms and Conditions or a Contract
      shall be capable of continuing in effect without the unenforceable term.</p>
    <h3 class="dark-heading">XX. Assignment</h3>
    <p>You shall not assign, transfer, novate, charge, sub-Contract, create any trust over or deal in any other manner with
      these Terms and Conditions or all or any of your rights or obligations under these Terms and Conditions.</p>
    <h3 class="dark-heading">XXI. Relationship</h3>
    <p>Nothing in these Terms and Conditions shall create or be deemed to create a partnership, an agency or a relationship
      between you and PUSHKART.PH unless otherwise provided herein.</p>
    <h3 class="dark-heading">XXII. Third party rights</h3>
    <p>No person who is not a party to these Terms and Conditions or a Contract shall acquire any rights under it or be entitled
      to benefit from any of its terms even if that person has relied on any such term or has indicated to any party to these
      Terms and Conditions its assent to any such term.</p>
    <h3 class="dark-heading">XXIII. Governing law</h3>
    <p>These Terms and Conditions (and all non-Contractual obligations arising out of or connected to them) shall be governed
      and construed in accordance with the laws of the Philippines. You hereby submit to the exclusive jurisdiction of the
      Courts of Manila for any future litigation arising from these Terms and Conditions and any non-Contractual obligations
      arising or connected to them. All dealings, correspondence and contacts between us shall be made or conducted in the
      English language only.</p>
    <h3 class="dark-heading">XXIV. Variation</h3>
    <p>We reserve the right to amend these Terms and Conditions at any time. All amendments to these Terms and Conditions will
      be posted online. However, continued use of the Site will be deemed to constitute acceptance of the new Terms and Conditions.</p>
    <p>When you submit an Order to the Site, you agree that you do so subject to these Terms and Conditions current at the date
      you submit your Order. You are responsible for reviewing the latest Terms and Conditions each time you submit your
      Order.</p>
    <h3 class="dark-heading">XXV. Interpretation</h3>
    <p>Headings are for ease of reference only and shall not affect the interpretation or construction of the Terms and Conditions;</p>
    <p>Words imparting the singular shall include the plural and vice versa. Words imparting a gender shall include every gender
      and references to persons shall include an individual, company, corporation, firm or partnership.</p>
    <h3 class="dark-heading">XXVI. Final provision</h3>
    <p>The English text of these User Terms constitutes the sole authentic text. In the event of any discrepancy between the
      English text and a translation into a foreign language, the English text shall prevail.</p>
  </div>
</ion-content>
