<ion-header no-border>
  <ion-navbar color=light>
    <ion-title class="header-title">
        <ion-icon name="arrow-round-back" navPop color=primary></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color=light>
  <div class="content-header">
      <h1>Join us.</h1>
      <h6>Create an Account</h6>
  </div>
  <ion-list no-lines>
    <ion-item no-lines>
        <ion-label><ion-icon name="mail"></ion-icon></ion-label>
        <ion-input (input)='checkAll()' type="email" placeholder='Email Address' [(ngModel)]='email'></ion-input>
    </ion-item>
    <ion-item no-lines>
        <ion-label><ion-icon name="phone-portrait"></ion-icon>&nbsp;&nbsp; +639</ion-label>
        <ion-input (input)='checkAll()' type="text" [(ngModel)]='mobile'></ion-input>
    </ion-item>
    <ion-item no-lines>
        <ion-label><ion-icon name="key"></ion-icon></ion-label>
        <ion-input (input)='checkAll()' type="{{passtype}}" placeholder='Password' [(ngModel)]='password'></ion-input>
        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    </ion-item>
    <ion-item no-lines>
        <ion-label><ion-icon name="key"></ion-icon></ion-label>
        <ion-input (input)='checkAll()' type="{{confpasstype}}" placeholder='Confirm Password' [(ngModel)]='conf_password'></ion-input>
        <button *ngIf="!confshowPass" ion-button clear color="dark" type="button" item-right (click)="confshowPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
        <button *ngIf="confshowPass" ion-button clear color="dark" type="button" item-right (click)="confshowPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
    </ion-item>  
    <button id="continue_sign" class="{{buttonclass}}" ion-button block icon-right (click)="navNext()">continue <ion-icon name="arrow-round-forward"></ion-icon></button>  
  </ion-list>
  
  <div class="bottom-wrap">
    <p>Already have an Account?</p>
    <a (click)="navLogin()">Log in</a>
  </div>
  
  
</ion-content>
