<!--
  Generated template for the PaypalpaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Paypal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <iframe class="e2e-iframe-trusted-src" src="https://v3.pushkart.ph/dev3/" frameBorder="0" width="100%" height="100%"></iframe>
</ion-content>
