page-orderhistory {
    ion-header{
        background: color($colors,primary,base);
        ion-icon {
            padding-right: 10px;
        }
        ion-toolbar {
            height: 125px;
            background: #fff;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.14);
            .list-md {
                margin: 0;
                ion-item {
                    min-height: auto;
                }
            }
            .item-inner {
                border: none !important;
            }
            ion-avatar {
                width: 80px;
                img {
                    border-radius: 0 !important;
                    height: 50px !important;
                    width: 50px !important;
                    margin: auto;
                }
            }
            .with-avatar {
                color: #5f5f5f;
                margin-bottom: 20px;
                p {
                    font-weight: 600;
                }
                span.name {
                    color: #1c1c1c;
                    font-weight: 600;
                }
                span.kredits {
                    color: #e7474a;
                }
            }
            .title {
                .label-md {
                    margin: 0;
                    p {
                        color: #848484;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
    .content {
        background: #f6f6f6;
        .scroll-content, .fixed-content {
            margin-top: 175px !important;
        }
        .card-md {
            border-radius: 8px;
            box-shadow: none;
            margin: 15px 0;
            width: 100%;
            padding-left: 5px;
            position: relative;
            ion-avatar {
                min-width: 25px;
                min-height: 25px;
                img {
                    border-radius: 0 !important;
                    width: 25px;
                    height: 25px;
                }
            }
            .row {
                margin-top: -10px;
                ion-col {
                    color: #515151;
                    font-weight: 600;
                    p {
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #b6b6b6;
                        letter-spacing: 0.5px;
                        font-size: 1.1rem;
                    }
                }
            }
            .total-wrap {
                p:first-child {
                    color: #383838;
                    font-size: 2.1rem;
                    span {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        color: #41bbb7;
                    }
                }
                p:last-child {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #b6b6b6;
                    letter-spacing: 0.7px;
                    margin-top: -5px;
                }
            }
            .item-md {
                h2 {
                    color: #373737;
                    font-weight: bold;
                    margin-top: 5px;
                }
                p {
                    color: #5f5f5f;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
            .arrow-wrap {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                img {
                    width: 10px;
                    height: 15px;
                    margin: auto;
                    margin-right: 20px;
                }
            }
            .line-indicator {
                top: 0;
                bottom: 0;
                left: 0;
                width: 5px;
                position: absolute;
            }
            .line-indicator.Cancelled {
                background: #ed7363;
            }
            .line-indicator.Complete {
                background: #26b999;
            }
            .line-indicator.In.Progress {
                background: #91bae1;
            }   
            
        }
        .card-md:first-child {
            margin-top: 5px;
        }
    }
}
