<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="arrow-round-back" navPop color=light></ion-icon> My Orders</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-list>
      <ion-item class="with-avatar">
        <ion-avatar item-start>
          <img src="assets/img/cart-colored.png">
        </ion-avatar>
        <h2>Hello, <span class="name">{{ this.Firstname }}</span>,</h2>
        <p>You have <span class="kredits">{{ this.in_progress_count }}</span> Order(s) in progress.</p>
      </ion-item>
      <ion-item no-lines class="title"><p>order history</p></ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor='let item of group_order_list' (click)='openOrderDetails(item)'>
    <div class="line-indicator {{item.Status}}"></div>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/{{item.Status}}.png">
      </ion-avatar>
      <h2>#{{item.Order_id}}</h2>
      <p>{{item.Status}}</p>
      <div class="arrow-wrap"><img src="assets/img/arrow-forward.png"></div>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <p class="date-title">billing date</p>
          {{item.Dates}} (for adjustment)
        </ion-col>
        <ion-col col-6>
          <p class="date-title">delivery date</p>
          {{item.Dates}}
        </ion-col>
      </ion-row>
      <div class="total-wrap">
        <p>{{item.Total}} <span>php</span></p>
        <p>total</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
