<ion-header no-border>
    <ion-navbar color=light>
      <ion-title class="header-title">
          <ion-icon name="arrow-round-back" navPop color=primary></ion-icon>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding color=light>
    <div class="content-header">
        <h1>Almost there!</h1>
        <h6>Personal Information</h6>
    </div>
    <ion-list no-lines>
        <ion-item no-lines>
            <ion-label><ion-icon name="contact"></ion-icon></ion-label>
            <ion-input (input)='checkAll()' type="text" placeholder='First name' [(ngModel)]='firstname'></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label><ion-icon name="contact"></ion-icon></ion-label>
            <ion-input (input)='checkAll()' type="text" placeholder='Last name' [(ngModel)]='lastname'></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label *ngIf="date==''">Birthday (MM/DD/YYYY)</ion-label>
            <ion-datetime ngModel (ionChange)='checkAll()' [(ngModel)]='date' displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>
        <ion-item no-lines>
            <ion-label>Gender</ion-label>
            <ion-select ngModel (ionChange)='checkAll()' [(ngModel)]="gender">
              <ion-option value='2'>Female</ion-option>
              <ion-option value='1'>Male</ion-option>
            </ion-select>
        </ion-item>  
        <button id="continue_sign" class="{{buttonclass}}" ion-button block icon-right (click)="signup()">GET STARTED <ion-icon name="arrow-round-forward"></ion-icon></button>  
      </ion-list>
      
      <div class="bottom-wrap">
        <p>
            By submitting this form, I confirm that I have read and agree to Pushkart.ph's 
            <a (click)="navTerms()">Terms and Conditions</a>
            and
            <a (click)="navPrivacy()">Privacy Policy</a>         
        </p>
    </div>
