  page-faq {
    .toolbar-title-md {
      padding: 0px;
      margin-top: 0px;
      font-size: 16px;
      font-weight: bold;
    }
    ion-header {
      background: color($colors, primary, base);
    }
    .header-title {
      color: color($colors, primary, base);
      text-align: center;
      margin: 30px !important;
      font-size: 22px;
      font-weight: bold;
    }
    .back-button {
      color: white;
      display: block!important;
      margin-right: 0;
    }
    .scroll-content {
      background: white;
      h3:first-child{
        margin-top: 0;
      }
    }
    .dark-heading {
      font-family: $opensans;
      font-weight: bold;
      font-size: 16px;
      margin: 30px 0 15px 0;
    }
    .item-row {
      margin-bottom: 0px!important;
      .header-item {
        background: #f2f2f2;
        padding: 16px;
        font-family: $opensans;
        padding: 10px;
        text-decoration: none;
        font-weight: bold!important;
        font-size: 14px!important;
        color: #333!important;
        margin: 0!important;
        .title {
          float: left;
          width: 90%;
        }
        ion-icon {
          text-align: center;
          float: left;
          width: 10%;
        }
      }
      .desc {
        font-size: 14px;
        padding: 0 15px 20px 30px;
        line-height: 24px;
      }
    }
    .active {
      .header-item {
        background: white;
        color: color($colors, secondary, base)!important;
        font-weight: normal !important;
      }
      .desc {
        animation: fadein .5s;
        padding: 0 15px 20px 30px;
        text-align: justify;
        line-height: 24px;
      }

    }
  }
