<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-grid>
    <ion-row class="item-row">
      <ion-col col-12><h1 class="row-header"></h1></ion-col>
      <ion-col col-12>
        <span class="title"></span>
        <button><ion-icon name='ios-dropdown'></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row class="item-row"></ion-row>
    <ion-row class="item-row"></ion-row>
    <ion-row class="item-row"></ion-row>
    <ion-row class="item-row"></ion-row>
    <ion-row class="item-row"></ion-row>
  </ion-grid> -->
  <h1 class="header-title">Frequently Asked Questions</h1>
  <ion-grid>
    <h3 class="dark-heading">General</h3>
    <ion-row class="item-row" *ngFor="let d of general; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <ion-col col-12 class="header-item">
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i)">{{d.desc}}</ion-col>
    </ion-row>

    <h3 class="dark-heading">Ordering</h3>
    <ion-row class="item-row" *ngFor="let d of ordering; let i=index" text-wrap (click)="toggleGroup(i+general.length)" [ngClass]="{active: isGroupShown(i+general.length)}">
      <ion-col col-12 class="header-item"  >
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i+general.length) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i+general.length)">{{d.desc}}</ion-col>
    </ion-row>

    <h3 class="dark-heading">Billings and Payment</h3>
    <ion-row class="item-row" *ngFor="let d of billing; let i=index" text-wrap (click)="toggleGroup(i+general.length+ordering.length)"
      [ngClass]="{active: isGroupShown(i+general.length+ordering.length)}">
      <ion-col col-12 class="header-item">
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i+general.length+ordering.length) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i+general.length+ordering.length)">{{d.desc}}</ion-col>
    </ion-row>

    <h3 class="dark-heading">Delivery</h3>
    <ion-row class="item-row" *ngFor="let d of delivery; let i=index" text-wrap (click)="toggleGroup(i+general.length+ordering.length+billing.length)"
      [ngClass]="{active: isGroupShown(i+general.length+ordering.length+billing.length)}">
      <ion-col col-12 class="header-item">
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i+general.length+ordering.length+billing.length) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i+general.length+ordering.length+billing.length)">{{d.desc}}</ion-col>
    </ion-row>

    <h3 class="dark-heading">My Account</h3>
    <ion-row class="item-row" *ngFor="let d of myaccount; let i=index" text-wrap (click)="toggleGroup(i+general.length+ordering.length+billing.length+delivery.length)"
      [ngClass]="{active: isGroupShown(i+general.length+ordering.length+billing.length+delivery.length)}">
      <ion-col col-12 class="header-item">
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i+general.length+ordering.length+billing.length+delivery.length) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i+general.length+ordering.length+billing.length+delivery.length)">{{d.desc}}</ion-col>
    </ion-row>

    <h3 class="dark-heading">Policies</h3>
    <ion-row class="item-row" *ngFor="let d of policies; let i=index" text-wrap (click)="toggleGroup(i+general.length+ordering.length+billing.length+delivery.length+myaccount.length)"
      [ngClass]="{active: isGroupShown(i+general.length+ordering.length+billing.length+delivery.length+myaccount.length)}">
      <ion-col col-12 class="header-item">
        <span class='title'>
          {{d.title}}
        </span>

        <ion-icon color="success" item-right [name]="isGroupShown(i+general.length+ordering.length+billing.length+delivery.length+myaccount.length) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>

      </ion-col>
      <ion-col class="desc" col-12 *ngIf="isGroupShown(i+general.length+ordering.length+billing.length+delivery.length+myaccount.length)">{{d.desc}}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="panel panel-default">
    <div id="headingOne" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseOne" data-toggle="collapse" data-parent="#accordion"> What is Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Pushkart.ph is an online grocery service, developed by young Filipino millenials, that aims to ensure convenient,
          and satisfaction-guaranteed delivery of groceries right at your doorstep.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwo" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> What can I buy from Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4c96-15b7-e6b2-6daa2e759d0a"><span>We’ve got all your grocery needs covered - canned goods, snacks, beverages, or fresh selections. Got a product type that we don’t offer? Let us know!&nbsp;</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThree" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThree" data-toggle="collapse" data-parent="#accordion"> Why do I need Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">Just like you, sometimes things get in the way and we have no time and energy for a quick run to the grocery. And
          so we thought, what if someone else can buy these things for me, right? A few clicks online and I’m all set.</p>
        <p>So we created Pushkart.ph to help you out! To give you back some of those previous hours, and avoid the typical 3
          hour chore of braving the traffic and carrying heavy bags for your grocery shopping.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="headingFive" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFive" data-toggle="collapse" data-parent="#accordion"> Who are our partner stores? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">We are partnered with Fisher Supermarket, to provide the best quality seafood, meat, and other necessities.</p>
        <p>Supporting other green, organic and local businesses is important to us. We aim to inspire and encourage the community
          to adopt a healthier and sustainable lifestyle through home-cooked food and more active activities. We are passionate
          about home-made quality food and we wish to share the joys of our cooking experiences with you.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtyFour" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtyFour" data-toggle="collapse" data-parent="#accordion"> How does Pushkart’s referral program work? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtyFour" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">With the refer friends or “refer a friend” program, users can get PHP 50.00 for every new user referred. The referring
          user will share his/her referral code to the new user, wherein the new user will receive PHP 50.00 in his MyKredits
          immediately upon registering using the said referral code. The referring user will then receive PHP 50.00 in his
          MyKredits once the new user successfully performs his/her first order through Pushkart.ph.</p>
        <p>The MyKredits credited can be used for purchases in Pushkart.ph, and are not transferrable or convertible to cash.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtyFive" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtyFive" data-toggle="collapse" data-parent="#accordion"> Can I create an account for my company (Corporate Account) with Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtyFive" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">Corporate Accounts for your company with Pushkart.ph would provide you special offers, discounts, and special arrangements
          for deliveries. Kindly e-mail us at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a> if you’d like to create
          a Corporate Account with us!</p>
      </div>
    </div>
  </div> -->
  <!-- 
  <h3 class="dark-heading">Ordering</h3>
  <div class="panel panel-default">
    <div id="headingSeven" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion"> How do you ensure the freshness of the products? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Don’t worry, your orders will be carefully picked by our specialized grocers and will be delivered straight to you
          via our own fleet of delivery vans or our partner logistics. You just have to wait for our friendly Pushkart.ph
          grocers to hand you your goods with a smile. We will be transporting goods in temperature-controlled storage boxes
          to maintain its freshness.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="headingNine" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseNine" data-toggle="collapse" data-parent="#accordion"><span id="docs-internal-guid-d03a5cd0-4ca1-6c11-77be-f683db35a8f3"><span>How do I mention my special requests for fresh goods, including fish and seafood? (i.e. fish descaling &amp; deboning)<i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></span></span></a></h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4c9e-9eb5-cd58-fa477f3313fa"><span> Grocery shopping is our job - we’ll absolutely handle your special requests for you. The easiest way is for you to tell us through our “Additional Instructions” input box in #2 of the Checkout Page </span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTen" data-toggle="collapse" data-parent="#accordion"> Is there a minimum / maximum limit in purchasing? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">There is a minimum order requirement of PHP 499, but there is no maximum order amount!</p>
        <p>Kindly e-mail us at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a> if you’d like to create a Corporate
          Account with us!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingEleven" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseEleven" data-toggle="collapse" data-parent="#accordion"> What does it mean if an item is “out of stock”? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Products that are marked “out of stock” are products that are popular or in demand.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="headingUpdateOne" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseUpdateOne" data-toggle="collapse" data-parent="#accordion">Can I suggest a product to add in Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseUpdateOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4ca0-165b-ddf2-e2aab3dc2b5f"><span>Absolutely, we are always open for any suggestions that you would want to add in our list of grocery items. Just email us at </span>
          <a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span> and our team will make sure your request will be added.</span></span>
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="headingFourteen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourteen" data-toggle="collapse" data-parent="#accordion"> How do I make a change to my order? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span><span>No worries - we know it happens. &nbsp;You may message us at </span><a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span> as soon as possible,&nbsp;</span></span>4
          hours before the confirmed delivery time and we will assist you as best as we can.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtySeven" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtySeven" data-toggle="collapse" data-parent="#accordion"> What if my purchased item is out of stock and can’t be delivered on-time? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtySeven" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">We will do our best to ensure we provide you all your ordered goods, within the stock inventory of our store partners.
          If the occasion arrives that one of your paid/ordered products is not available, we will automatically provide
          you a refund via your MyKredits, which is applicable for your next order.</p>
      </div>
    </div>
  </div>
  <h3 class="dark-heading">Billings and Payment</h3>
  <div class="panel panel-default">
    <div id="headingFifteen1" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFifteen1" data-toggle="collapse" data-parent="#accordion">How are your items priced? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFifteen1" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">We believe that online shopping shouldn’t be expensive, which is why we do our best to keep our pricing close to
          that of our partner stores.</p>
        <p>To maintain the quality of our service, we charge a fixed service fee, called a “Grocer’s fee”. This might appear
          as “Shipping fee” in your receipts and confirmations. Grocer’s fee is a convenience fee that we charge for the
          services provided by our specially screened and trained Grocers in selecting items purchased, and delivering this
          to your selected address. This lets us helps the families of our grocers as well!</p>
        <p>The applicable Grocer’s Fee will apply for the ff. order subtotals:</p>
        <ul class="disc-style-list">
          <li>PHP 1,999.99 or less = PHP 199 Grocer’s fee</li>
          <li>PHP 2,000 to PHP 4,999.99 = PHP 49 Grocer’s fee</li>
          <li>PHP 5,000 and above = Free/Waived Grocer’s fee</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFifteen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFifteen" data-toggle="collapse" data-parent="#accordion">Do you have hidden fees? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Absolutely not. Although much of our industry engages in "upcharging" via hidden fees, we strive to be fully transparent.
          Our price list is front and center on our homepage, and shortly after you receive your delivery, we will send you
          an itemized receipt so you know exactly what you were charged. If you ever have any questions on billing, please
          e-mail us at hello@pushkart.ph and we'll take care of you.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingSeventeen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseSeventeen" data-toggle="collapse" data-parent="#accordion"> How can I pay for the items I purchased? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">At this point, we only accept payment via all cards from Visa and Mastercard - credit, debit, and prepaid cards through
          PayMaya, and over-the-counter via DragonPay.</p>
        <p>Ordered goods are brought to the buyer’s place and customer will then receive an e-receipt called “order invoice”
          with our system generated order #. A VAT registered Invoice will be issued upon customer’s request.</p>
        <p>However, If you don’t have a Visa or Mastercard credit card, you could still purchase from us once you get your virtual
          Visa card from the *PayMaya App.</p>
        <p>*PayMaya Philippines Inc. is the first prepaid online payment app that enables the unbanked and the uncarded to pay
          online without a credit card; PayMaya is the digital financial unit of PLDT and Smart Communications, Inc.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingEighteen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseEighteen" data-toggle="collapse" data-parent="#accordion"> How would I know that my transaction is successful? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>You will receive a Pushkart.ph Order Invoice via the email address you used to register.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingNineteen" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseNineteen" data-toggle="collapse" data-parent="#accordion"> Is there any discount for Senior Citizens or Persons with disabilities? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Discounts for Senior Citizens or Persons with disabilities are not applicable for any on-line transaction.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwenty" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwenty" data-toggle="collapse" data-parent="#accordion"> Can I collect any kind of club points from the supermarkets? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Currently we do not support the collection of membership points or other savings from stores. Be sure to keep an
          eye on email and our social media accounts for updates on how we’re expanding to improve this functionality.</p>
      </div>
    </div>
  </div>
  <h3 class="dark-heading">Delivery</h3>
  <div class="panel panel-default">
    <div id="headingTwentyOne" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyOne" data-toggle="collapse" data-parent="#accordion"> Where is Pushkart.ph available? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Pushkart.ph is currently delivering to Makati, Quezon City, Taguig, Manila, Pasig, San Juan, and Mandaluyong. We
          will soon launch to other cities, don’t worry :)</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyTwo" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyTwo" data-toggle="collapse" data-parent="#accordion"> What are your delivery hours? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4ca7-8353-4348-6a29c76d7dc9"><span> We deliver from 9:00 AM to 8:00 PM from Mondays to Saturdays. You can view available delivery times on our website at any other two-hour delivery window today and in the next 6 days. If you have a specific time preference, please e-mail </span>
          <a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span>&nbsp;and we will do our best to accommodate.</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyTree" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyThree" data-toggle="collapse" data-parent="#accordion"> Can I select a time preference? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyThree" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4ca7-f840-27bf-31765bcfd6fd"><span>Absolutely -&nbsp;we are happy to work around your schedule. &nbsp;If you would like us to come at or near a specific time within your chosen two-hour delivery window (e.g. closer to 3:30 PM), please fill this in the delivery instructions and we will do our best to accommodate. If you have a permanent preference, please e-mail our team at </span>
          <a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span>&nbsp;and we will&nbsp;make a note on your account. If you have a request specific to the current day, the simplest&nbsp;way to coordinate with us&nbsp;is by responding to our e-mails or text messages (we will respond ASAP to all messages!).</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyFour" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyFour" data-toggle="collapse" data-parent="#accordion"> How do I check the status of my order? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyFour" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4ca8-c731-0e44-8fbda8ce3abd"><span>You will get notifications via SMS and e-mail to confirm the order you placed, and the estimate time of arrival for your order. Kindly respond to the SMS to facilitate the delivery.</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyFive" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyFive" data-toggle="collapse" data-parent="#accordion"> Is it possible to have my groceries delivered to an alternate address? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyFive" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4ca9-0ea9-49a0-e0848e21ae85"><span>Yes, as long as the alternate address is within our service area and is communicated before our grocers leave to deliver your goods. Simply e-mail </span>
          <a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span> to let us know what address you would like us to deliver to (plus any instructions), and we’ll take care of the rest. &nbsp;If the alternate address is a permanent change, you can update your address in the "Profile" section in our "</span><span>My Account</span><span>"&nbsp;page.</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentySix" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentySix" data-toggle="collapse" data-parent="#accordion"> How do I reschedule my delivery? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentySix" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>You may message us at hello@pushkart.ph 4 hours before the confirmed delivery time and we will assist you as best
          as we can. No penalties, just appreciation for giving us the heads up!</p>
        <p>However, we know last minute changes occur. So if you need to reschedule your order, we can assist you if your grocer
          has not left to deliver your goods. Please feel free to contact us at&nbsp;<a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentySeven1" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentySeven1" data-toggle="collapse" data-parent="#accordion">How do I cancel my order? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentySeven1" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>If you wish to cancel your Order before we have sent you the Order Confirmation before the Order has been dispatched,
          please contact our Customer Service Team on hello@pushkart.ph No cancellation fees shall be applicable if the cancellation
          is done 4 hours before the confirmed delivery time. However, once the Order has been dispatched it may not be cancelled.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentySeven" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentySeven" data-toggle="collapse" data-parent="#accordion"> Who does the delivery? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentySeven" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4cae-f81d-1bd1-198e286ebde6"><span>To ensure the freshness of your goods and fast delivery, our very own fleet of delivery vans or our partner logistics and friendly grocers will do all the work for you so you can have more time for more important things in life, a.k.a. binge watching your favorite TV show.</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyEight" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyEight" data-toggle="collapse" data-parent="#accordion"> Are your Grocers good-looking? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyEight" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Hey! It’s all about luck, so we cannot promise. Also, it depends whether you have been a very good customer. Kidding
          aside, what we can always promise is a genuine smile.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingTwentyNine" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseTwentyNine" data-toggle="collapse" data-parent="#accordion"> What if I am not at home to receive my groceries? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseTwentyNine" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr">We get it, sometimes we all enjoy life too much and forget about some things. But if you must know ahead of time
          that you will be missing our delivery, kindly contact us 4 hours before the confirmed delivery time via e-mail
          at hello@pushkart.ph so we can reschedule your delivery as soon as possible.</p>
        <p dir="ltr">But if you forget about the delivery, the grocer will leave a notification with the information regarding your groceries
          and what to do next. And remember that we will have to charge a cancellation/re-delivery fee.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirty" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirty" data-toggle="collapse" data-parent="#accordion"> Should I tip my Grocer? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirty" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-d03a5cd0-4cb1-694c-7dc2-b097186e410a"><span>Please refrain from doing so! :)&nbsp;We have a strict&nbsp;"No Tipping" policy at Pushkart.ph. The&nbsp;act of tipping (or even thinking about how much to tip or whether you tipped enough) is a subtle form of friction that we want to remove from your customer experience! &nbsp;We compensate our Grocers well and have instructed them not to accept any tips.&nbsp;If you have positive feedback for them, please feel free to e-mail us at </span>
          <a href="mailto:hello@pushkart.ph"><span>hello@pushkart.ph</span></a><span> and we will make sure to pass it on to your Grocer.</span></span>
        </p>
      </div>
    </div>
  </div>
  <h3 class="dark-heading">My Account</h3>
  <div class="panel panel-default">
    <div id="headingThirtyOne" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyOne" data-toggle="collapse" data-parent="#accordion"> How do I update my contact information? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p><span id="docs-internal-guid-ebca8728-d264-adf9-0453-60c05559ccbe"><span>You can update your contact information on your profile <a href="http://v3.pushkart.ph/dev3/customer/account/">here</a>.</span></span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyTwo" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyTwo" data-toggle="collapse" data-parent="#accordion"> How do I reset my password? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>If you’ve forgotten your password, you can reset it&nbsp;<a href="http://v3.pushkart.ph/dev3/customer/account/forgotpassword">here</a>.</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyThree" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyThree" data-toggle="collapse" data-parent="#accordion"> Where can I view my Order History? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyThree" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>You can view your order history <a href="http://v3.pushkart.ph/dev3/sales/order/history/">here</a>. If you have any
          detailed questions that are not answered, feel free to e-mail our team at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a>.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyFour" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyFour" data-toggle="collapse" data-parent="#accordion">What do the Order Status labels mean?<i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyFour" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>There are 3 labels for your Order Status: Completed, In-Progress, and Cancelled. The Completed label is tagged once
          the order was successfully delivered to you. In-Progress means you’re currently paying for your MyKart, a delivery
          was rescheduled or our team is currently preparing &amp; delivering your order. Lastly, Cancelled occurs in the
          scenario that you manually have your delivery cancelled.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyFive" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyFive" data-toggle="collapse" data-parent="#accordion">Where can I update my grocery order preferences? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyFive" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>We will soon be adding the ability to manage your preferences from your online profile page. Until then, the best
          way to update your grocery order preferences is by e-mailing our team at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph.</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyFivelast" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyFivelast" data-toggle="collapse" data-parent="#accordion">How can I see my previous orders? Can I re-order my previously bought items? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyFivelast" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Proceed to Pushkart.ph and log-in using the profile used during your past purchases. Once done, click on my account
          and select “Order History”. On this page, you will find all previously placed orders with the itemized items. You
          can even re-order your past purchases!</p>
      </div>
    </div>
  </div>
  <h3 class="dark-heading">Policies</h3>
  <div class="panel panel-default">
    <div id="headingThirtySix" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtySeven" data-toggle="collapse" data-parent="#accordion">How do I return items? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="collapseThirtySeven" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr"><span>We properly train our grocers to select the best possible goods, for your selections. You are encouraged to check the items upon delivery to ensure the correctness of your items. At this time we don’t accept item returns after the delivery has been completed. If it occurs that we make a mistake in any item you deliver, please make sure to notify our grocer. Our customer support team will then coordinate with you for delivery of the proper items.&nbsp;</span></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingThirtyEight" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseThirtyEight" data-toggle="collapse" data-parent="#accordion"> What if my special requests for fresh fish is not followed? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseThirtyEight" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr"><span>We take great pride in the ability of our grocers to be accurate with your instructions for fish. Please check your delivered items before receiving them with our grocer, as we don’t accept item returns after the delivery has been completed. If ever any mistakes were done, please notify our grocer so we can replace your goods.</span></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="headingFourty" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourty" data-toggle="collapse" data-parent="#accordion"> How can I get everyone at my company to use Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourty" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p dir="ltr"><span>We are always excited when our customers want to share Pushkart.ph with their colleagues and employees. &nbsp;We have several partnerships set up with companies to help them provide employee perks around their grocery needs. If you are interested in exploring this idea, please e-mail us at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a> and we'll take care of you.</span></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtyOne" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtyOne" data-toggle="collapse" data-parent="#accordion"> I want to work for Pushkart.ph….what do I have to do? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtyOne" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>We are always excited to add amazing people to our team. If you are interested in working for Pushkart.ph, please
          check out our job openings <a href="#">here</a> or e-mail <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a>&nbsp;with
          your resume and tell us why you should work for Pushkart.ph!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtyTwo" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtyTwo" data-toggle="collapse" data-parent="#accordion">How can I partner with Pushkart.ph? <i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtyTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>We are excited to hear from you. If you are interested in pushing your kart to the next level, e-mail us at
          <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a> and we’ll gladly support your cause.</p>

        <div id="collapseFourtyTwo" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <p>Please send us an email at <a href="mailto:hello@pushkart.ph">hello@pushkart.ph</a>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="headingFourtyThree" class="panel-heading" role="tab">
      <h4 class="panel-title"><a class="collapsed" role="button" href="#collapseFourtyThree" data-toggle="collapse" data-parent="#accordion"> What if some of my paid items are not available?<i class="fa fa-angle-down">&nbsp;</i><i class="fa fa-angle-up">&nbsp;</i></a></h4>
    </div>
    <div id="collapseFourtyThree" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>If your item runs out of stock before we are able to select it from the supermarket for you, we will reach-out to
          you via the stated mobile number. We can either replace the item or provide you store credit, for use in your next
          purchase.</p>
      </div>
    </div>
  </div> -->
</ion-content>
