<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title>Order {{order.Order_id}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="sk-circle" *ngIf='order_details_loaded!=true'>
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>

  <ion-grid class="order-grid" *ngIf='order_details_loaded==true'>
    <!-- order -->
    <ion-row>
      <ion-col col-12 class="header-row">
        Status: {{order.Status}}
      </ion-col>
      <!-- order header -->
      <ion-col col-4>
        <span class="option" (click)='presentConfirm()'>Reorder</span>
      </ion-col>
      <ion-col col-8>
        <span class="option" (click)='printOrder()'>Print Order</span>
      </ion-col>
      <!-- <ion-col col-6>
        <span class="option-1">Order Information</span>
      </ion-col>
      <ion-col col-6>
        <span class="option-1">Invoice</span>
      </ion-col> -->

    </ion-row>
    <ion-row class="row-2">
      <ion-grid class="grid-2">
        <ion-row>
          <ion-col col-6 class='header-row'>
            Order Date:
          </ion-col>
          <ion-col col-6>
            {{order_details.date_ordered}}
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- shipping address -->
          <ion-col col-12 class='header-row'>
            Shipping Address
          </ion-col>
          <ion-col col-12>
            {{order_details.shipping_address[0]+' '+order_details.shipping_address[1]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.shipping_address[2]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.shipping_address[3]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.shipping_address[4]}}
          </ion-col>
          <ion-col col-12>
            T: {{order_details.shipping_address[5]}}
          </ion-col>
          <ion-col col-12>
            Mobile Number: {{order_details.shipping_address[6]}}
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- Shipping Method -->
          <ion-col col-12 class='header-row'>
            Shipping Method:
          </ion-col>
          <ion-col col-12>
            {{order_details.shipping_method}}
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- billing address -->
          <ion-col col-12 class='header-row'>
            Billing Address:
          </ion-col>
          <ion-col col-3>
            {{order_details.billing_address[0]}}
          </ion-col>
          <ion-col col-3>
            {{order_details.billing_address[1]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.billing_address[2]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.billing_address[3]}}
          </ion-col>
          <ion-col col-12>
            {{order_details.billing_address[4]}}
          </ion-col>
          <ion-col col-12>
            T: {{order_details.billing_address[5]}}
          </ion-col>
          <ion-col col-12>
            Mobile Number: {{order_details.billing_address[6]}}
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- Payment Method: -->
          <ion-col col-12 class='header-row'>
            Payment Method:
          </ion-col>
          <ion-col col-12>
            {{order_details.payment_method}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class='header-row'>
            Slot Booking Information:
          </ion-col>
          <ion-col col-12>
            Delivery Date: {{order_details.slot_booking_information[0]}}
          </ion-col>
          <ion-col col-12>
            Delivery Time: {{order_details.slot_booking_information[1]}}
          </ion-col>
          <ion-col col-12>
            Book Type: {{order_details.slot_booking_information[2]}}
          </ion-col>
          <ion-col col-12>
            Grocer's Fee: {{order_details.slot_booking_information[3]}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- order -->
    <!-- order details product table -->
    <ion-row class="row-2">
      <ion-col col-12 class="header-row">
        Items Ordered
      </ion-col>
      <ion-grid class="product-grid">
        <ion-row class="table-header">
          products
        </ion-row>
        <ion-row *ngFor='let product of product_group'>
          <ion-col col-4>
            <img [src]='product.small_image' onError="this.src='assets/img/image-not-available_1.webp'">
          </ion-col>
          <ion-col col-12 class="name">
            {{product.name}}
          </ion-col>
          <ion-col col-12 class="subdetails">
            SKU: {{product.sku}}
          </ion-col>
          <ion-col col-12 class="subdetails">
            PRICE: ₱{{cartservice.computePrice(product.price,1)}}
          </ion-col>
          <ion-col col-12 class="subdetails">
            QTY Ordered: {{product.qty}}
          </ion-col>
          <ion-col col-12 class="subdetails">
            SUBTOTAL: <span class="price">₱{{cartservice.numberWithCommas(cartservice.computePrice(product.total,1))}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- order details product table -->
    <ion-row class="row-2">
      <ion-grid>
        <ion-row class="row-2" *ngIf='has_kredit==true'>
          <ion-col col-6>
            Spend Points
          </ion-col>
          <ion-col col-6 class="price">
            {{kredit_detail.discount}} Kredit
          </ion-col>
        </ion-row>
        <ion-row class="row-2" *ngIf='earnpoints>0'>
          <ion-col col-6>
            Earn Points
          </ion-col>
          <ion-col col-6 class="price">
            {{earnpoints}} Kredit
          </ion-col>
        </ion-row>
        <ion-row class="row-2">
          <ion-col col-6>
            Subtotal
          </ion-col>
          <ion-col col-6 class="price">
            ₱{{cartservice.numberWithCommas(cartservice.computePrice(order_details.subtotal,1))}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2" *ngIf='has_kredit==true'>
          <ion-col col-6>
            Use points on spend
          </ion-col>
          <ion-col col-6 class="price">
            -₱{{kredit_detail.discount}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2">
          <ion-col col-6>
            Grocer's Fee
          </ion-col>
          <ion-col col-6 class="price">
            ₱{{cartservice.computePrice(order_details.shipping_fee,1)}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2" *ngIf='order_details.coupon_discount>0'>
          <ion-col col-6>
            Discount(glimsol test)
          </ion-col>
          <ion-col col-6 class="price">
            -₱{{order_details.coupon_discount}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2">
          <ion-col col-6>
            Tax
          </ion-col>
          <ion-col col-6 class="price">
            ₱{{cartservice.numberWithCommas(cartservice.computePrice(order_details.tax,1))}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2" *ngIf='has_kredit==true'>
          <ion-col col-6>
            Point Discount
          </ion-col>
          <ion-col col-6 class="price">
            ₱{{kredit_detail.discount}}
          </ion-col>
        </ion-row>
        <ion-row class="row-2">
          <ion-col col-6>
            Grand Total
          </ion-col>
          <ion-col col-6 class='price'>
            ₱{{cartservice.numberWithCommas(cartservice.computePrice(order_details.grandtotal,1))}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

  </ion-grid>

</ion-content>
