page-order-details {
  .row-2{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    
    .grid-2 {
      padding: 0;
    }
  }
  .toolbar-title-md {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  .back-button {
    color: white;
    display: block!important;
    margin-right: 0;
  }
  .order-grid {
    background-color: white;
    padding: 16px;
    font-size: 15px;
  }
  .option {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #4BC2BA;
  }
  .header-row {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  ion-row {
    margin-bottom: 10px!important;
    border-bottom: 0.5px #ededed solid;
    padding-bottom: 10px;
  }
  .product-grid {
    .table-header {
      background-color: #eeeeee;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: none;
    }
    ion-row {
/*       border-left: lightgray solid 0.5px;
      border-right: lightgray solid 0.5px; */
      padding: 10px;
      margin: 0!important;
      .name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
      .subdetails {
        color: #666;
      }
    }
  }
  .price {
    font-weight: bold;
    color: #333333;
    text-align: right;
  }
}
